


<section class="aboutus" style="background-image: url('../../assets/img/banner99.jpg');">
    <div class="container position-relative">
        <div class="row justify-content-end">
            <div class="col-xl-12 text-center">
                <div class="text-white ms-auto">
                    <!-- Page heading-->
                    <h1 class="mb-2">{{subheading}}</h1>
                    <a href="index.html" class="text-decoration-none textprimary">Home <i class="bi bi-chevron-right"></i></a> <span >{{subheading}}</span>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <ul class="content-list">
                    <li>
                        <br>
                        <h2 class="page-sub-title">{{ visionmissionresponses[0].Content_Subheading }}</h2>
                        <p style="text-align: justify">{{ visionmissionresponses[0].menu }}</p>
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <div class="whowe">
                <img src="../../assets/img/vision.webp" alt="" class="p-5 ">
            </div>
            </div>
            </div>
            <div class="row">
            <div class="col-md-6">
                <div class="whowe">
                <img src="../../assets/img/mission.jpg" alt="" class="p-5 ">
                </div>
            </div>
            <div class="col-md-6">
                <ul class="content-list">
                    <li>
                        <br>
                        <h2 class="page-sub-title">{{ visionmissionresponses[1].Content_Subheading }}</h2>
                        <p style="text-align: justify">{{ visionmissionresponses[1].menu }}</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
