


<section class="aboutus py-5">
    <div class="container position-relative">
        <div class="row justify-content-end">
            <div class="col-xl-12 text-center">
                <div class="text-white ms-auto">
                    <!-- Page heading-->
                    <h1 class="mb-2">{{subheading}}</h1>
                  
                    <a href="index.html" class="text-decoration-none textprimary">Home <i class="bi bi-chevron-right"></i></a> <span class="textprimary">{{subheading}}</span>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul >
                    <li *ngFor="let res of visionmissionresponses">
                    <br>
     <h2 class="page-sub-title">{{res.Content_Subheading}}</h2>  
                    <p style="text-align: justify">{{res.menu}}</p>
                </li>
                </ul>
            </div>
        </div>
    </div>
</section>
