<!-- Navigation-->
<div class="topnav">
    <nav class="navbar navbar-light topnavbg">
        <div class="container">
            <div class="col-md-6 col-sm-12">
                <owl-carousel-o [options]="customOptions" class="latest-news">
                    <ng-template carouselSlide >
                       <div class="card rounded-0">
                           <div class="card-body">
                                hiii
                           </div>
                       </div>
                   </ng-template>
                   <ng-template carouselSlide >
                    <div class="card rounded-0">
                        <div class="card-body">
                             hiii
                        </div>
                    </div>
                </ng-template>
                </owl-carousel-o>
            </div>
            <div class="col-md-6 col-sm-12">
                <ul class="nav">
                    <li class="list-inline-item me-4">
                        <p class="text-white mb-0"><i class="bi-phone fs-5 "></i> {{phone}}</p>
                    </li>
                    <li class="list-inline-item me-4">
                        <p class="text-white mb-0"><i class="bi-envelope fs-5 "></i> {{email}}</p>
                    </li>
                    <li class="list-inline-item">
                        <p class="text-white mb-0"><i class="bi-pin-map fs-5 "></i> {{address}}</p>                            
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light py-1 sticky-top mainNav">
    <div class="container">
        <a class="navbar-brand" href="#">
          <img src="assets/img/Patashalalogo.png" alt="Patashala" class="mw-100" width="150" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item dropdown" *ngFor="let menuItem of menuItem">
                    <a class="nav-link text-dark" [ngClass]="{'dropdown-toggle': !(menuItem.menu === 'Contact Us')}"  [routerLink]="menuItem.menuUrl" data-bs-toggle="dropdown">{{menuItem.menu}}</a>
                        <ul class="dropdown-menu" *ngFor="let subMenuItem of menuItem.subMenu">
                            <li *ngFor="let subMenuItem of menuItem.subMenu">
                                <a class="dropdown-item" [routerLink]="subMenuItem.menuUrl">{{subMenuItem.menu}}</a>
                                <ul> 
                                <li *ngFor="let subsubMenuItem of subMenuItem.subSubMenu"> 
                                    <a class="dropdown-item" [routerLink]="subsubMenuItem.menuUrl">{{subsubMenuItem.menu}}</a></li>
                                </ul> 
                            </li>
                        </ul>
                </li>
            </ul>
      </div>
    </div> 
</nav>

  