.logindropdown .dropdown-menu.show{
    z-index: 1022;
    width: 320px;
    border-radius: 0;
    border: none;
    box-shadow: 3px 5px 6px 3px #3c3c3c3d;
    padding: 35px 15px 20px;
    background: #002147;
    color: #fff;
    font-size: 18px;
    right: 0;
    left: auto;
}

.logindropdown  a{
    text-decoration: none;
    
}
.logindropdown .dropdown a::after{
   display: none;
}
.mobilelogin{
    display: none;
}
.logindropdown button.btn.btn-primary{
    color: #fff;
    background: #374151;
    opacity: 1;
    border: 1px solid #374151;
    display: block;
    width: 100%;
    margin: 10px auto 0;
    border-radius: 0;
    padding: 14px;
}
.logindropdown .form-control{
    background: none;
    border: none;
    border-bottom: 1px solid #fff;
    border-radius: 0;
    color: #fff !important;
   opacity: 1;
    padding: 14px 0 5px;
    margin-bottom: 14px;
}
.logindropdown .form-control:focus{
    border: none;
    border-bottom: 1px solid #fff;
    box-shadow: none;
   
}
.logindropdown .form-control:focus::placeholder{
    transform: translateY(-20px);
}
.logindropdown .form-control::placeholder{
    color: #fff;
    transition: all 0.5s ease-in-out;
}
@media (max-width:660px){
    .logindropdown .dropdown-menu.show{
        left: 0;
    }
}
@media (max-width:480px){
    .mobilelogin{
        display: block;
    }
    .mobhide{
        display: none;
    }
}
.text-white:hover {
    color: #ffffff !important;
}
.navbar-nav li:hover > ul.dropdown-menu {
    display: block;
}
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top:-6px;
}

/* rotate caret on hover */
.dropdown-menu > li > a:hover:after {
    text-decoration: underline;
    transform: rotate(-90deg);
} 
.facebook{
    color: rgb(11 87 208) !important;
}
