<p-messages></p-messages>
<!-- Navigation-->
<div class="topnav">
    <div class="navbar navbar-light topnavbg">
        <div class="container">
            <ul class="nav">
                <li class="list-inline-item me-4">
                    <p class="text-white mb-0"><i class="bi-phone fs-5 "></i> {{phone}}</p>
                </li>
                <li class="list-inline-item me-4">
                    <p class="text-white mb-0"><i class="bi-envelope fs-5 "></i> {{email}}</p>
                </li>
                <li class="list-inline-item">
                    <p class="text-white mb-0"><i class="bi-pin-map fs-5 "></i> {{address}}</p>
                </li>
            </ul>
            <ul class="nav">
                <li class="list-inline-item me-4">
                    <a href="#!"><i class="bi-facebook fs-5 text-white"></i></a>
                </li>
                <li class="list-inline-item me-4">
                    <a href="#!"><i class="bi-twitter fs-5 text-white"></i></a>
                </li>
                <li class="list-inline-item me-4">
                    <a href="#!"><i class="bi-youtube fs-5 text-white"></i></a>
                </li>
                <li class="list-inline-item">
                    <a href="#!"><i class="bi-whatsapp fs-5 text-white"></i></a>
                </li>
                <li class="list-inline-item logindropdown">
                    <a href="#!"><i class="bi bi-person fs-5 text-white" *ngIf="validUser"
                            (click)="logout()">Logout</i></a>
                    <!-- <a href="#!" class="mobilelogin"><i class="bi bi-person fs-5 text-white" *ngIf="!validUser" (click)="loginuser()">Login</i></a> -->
                    <div class="dropdown">
                        <a href="#!" class="dropdown-toggle" data-bs-toggle="dropdown"><i
                                class="bi bi-person fs-5 text-white" *ngIf="!validUser">Login</i></a>

                        <ul class="dropdown-menu">
                            <form [formGroup]="loginForm" (ngSubmit)="loginSubmit(loginForm.value)">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12 mb-2">

                                            <!-- <label for="username" class="form-label">username</label> -->
                                            <input type="username" class="form-control" id="username"
                                                formControlName="username" placeholder="User Name">

                                        </div>
                                        <div class="col-md-12 mb-2">

                                            <!-- <label for="password" class="form-label">Password  </label> -->
                                            <input type="password" class="form-control" id="password"
                                                formControlName="password" placeholder="Password">
                                            <!-- <div id="emailHelp" class="form-text">Enter password.</div> -->

                                        </div>
                                        <div class="col-md-12 text-end tpad bpad">
                                            <button [disabled]="!loginForm.valid" type="submit"
                                                class="btn btn-primary">Login</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>

    </div>

    <div class="pr">
        <div class="col-md-2 news-scroll-panel">
        <div class="flash-box123">
            <p>Announcement</p>
          </div>
          </div>
        <div class="col-md-10 news-scroll-panel">
            <marquee scrollamount="05" onMouseOver="stop()" onMouseOut="start()">
                <div class="contscr">
                    <div>
                        <div class="ann-content" > <i class="fa fa-arrow-right"
                                aria-hidden="true"></i><img src="../../assets/img/new.gif"> <b>Live Classes:-</b>
                            <span>Providing personalized mentoring throughout their course journey.</span></div>
                    </div>&nbsp;&nbsp;&nbsp;&nbsp;
                    <div>
                            <div class="ann-content"><i class="fa fa-arrow-right" aria-hidden="true"></i> <img
                                    src="../../assets/img/new.gif"><b>Recordings:-</b>
                               <span>Interactive live stream classes and recorded Video lectures.</span> </div>
                        </div>
                  

                </div>
            </marquee>
        </div>
    </div>

</div>
<div class="sticky-top">
    <nav class="navbar navbar-expand-lg navbar-light bg-light py-1  mainNav">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="assets/img/Patashalalogo.jpg" width="250"
                    alt="Patshala is one of the best Commerce and Management institutions in Hyderabad"
                    class="mw-100 brandlog" />
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown" *ngFor="let menuItem of menuItem">
                        <a class="nav-link text-dark" [ngClass]="{'dropdown-toggle': !(menuItem.menu === 'Contact Us')}"
                            [routerLink]="menuItem.menuUrl" data-bs-toggle="dropdown">{{menuItem.menu}}</a>
                        <ul class="dropdown-menu" *ngFor="let subMenuItem of menuItem.subMenu">
                            <li *ngFor="let subMenuItem of menuItem.subMenu">
                                <a class="dropdown-item" [routerLink]="subMenuItem.menuUrl">{{subMenuItem.menu}}</a>
                                <ul>
                                    <li *ngFor="let subsubMenuItem of subMenuItem.subSubMenu">
                                        <a class="dropdown-item"
                                            [routerLink]="subsubMenuItem.menuUrl">{{subsubMenuItem.menu}}</a>
                                    </li>
                                    
                                </ul>
                            </li>
                         
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" [routerLink]="'/gallery'">Gallery</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<!-- <p-dialog header="Login" 
    [(visible)]="visible"
    [modal]="true" 
    [style]="{width: '30vw'}"
    [breakpoints]=" 
        { 
         
            '480px': '80vw' 
        }" 
    [draggable]="false" 
    [resizable]="false">
    <form [formGroup]="loginForm" (ngSubmit)="loginSubmit(loginForm.value)">
        <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 mb-3">
                        <label for="username" class="form-label">username</label>
                        <input type="username" class="form-control" id="username"  formControlName="username">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 mb-3">
                            <label for="password" class="form-label">Password  </label>
                            <input type="text" class="form-control" id="password" formControlName="password">
                           
                    </div>
                </div>
                <div class="row tpad bpad">
                    <div class="col-md-12 text-end">
                        <button [disabled]="!loginForm.valid" type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
        </div>
    </form>
</p-dialog> -->