              
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: 'Lato', sans-serif;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Roboto', sans-serif;
}
.tpad {
  padding-top: 10px;
}
.rpad {
  padding-right: 10px;
}
.lpad {
  padding-left: 10px;
}
.bpad {
  padding-bottom: 10px;
}
.heading_color{
  color: #3f1753;
}
.textprimary{
  color: #dd797b;
}
img{
  max-width: 100%;
}
.viewbtn{
  padding: 10px 25px;
  background: transparent;
  display: block;
  margin: 10px 0 10px auto;
}
@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
.topnavbg{
  position: relative;
  background: url("assets/img/topnavbg.png") no-repeat center center;
  background-size: cover;
}
.mainNav .navbar-nav li.nav-item a {
  font-size: 1rem;
  font-weight: 500;
  padding-right: 28px;
  transition: all .5s ease-in-out;
  cursor: pointer;
}
.mainNav .navbar-nav li.nav-item a:hover {
  color: #d11561 !important;
}
.mainNav .navbar-nav li.nav-item a.btn{
  padding-right: 14px;
}
.mainNav .navbar-nav li.nav-item a.btn:hover{
  color: #fff !important;
}
.mainNav .navbar-nav li.nav-item ul.dropdown-menu {
  border: none;
  border-radius: 0;
  background: #d5135b;
  padding: 0;
}
.mainNav .navbar-nav li.nav-item ul.dropdown-menu ul {
  margin: 0;
  padding: 0
}
.mainNav .navbar-nav li.nav-item ul.dropdown-menu li {
  list-style: none;
}
.mainNav .navbar-nav li.nav-item ul.dropdown-menu li {
  border-top: 1px solid #9b083e;
}
.mainNav .navbar-nav li.nav-item ul.dropdown-menu li:first-child {
  border-top: none;
}
.mainNav .navbar-nav li.nav-item ul.dropdown-menu li:last-child {
  margin-bottom: 0px;
}
.mainNav .navbar-nav li.nav-item ul.dropdown-menu li a {
  padding: 8px;
  color: #fff;
  background: linear-gradient(to right, #eb5959 50%, #fff 50%);
  background-size: 200% 100%;
  background-position:left bottom;
  transition:all 1s ease;
}
.mainNav .navbar-nav li.nav-item ul.dropdown-menu li a:hover {
  background-position:right bottom;
}
.masthead, .aboutus {
  position: relative;
  background-color: #343a40;
  background: url("assets/img/banner1.jpg") no-repeat top center;
  background-size: cover;
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.masthead:before {
  content: "";
  position: absolute;
  /* background-color: #22175c; */
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  /* opacity: 0.9; */
}
.masthead h1, .masthead .h1 {
  font-size: 2rem;
}
@media (min-width: 768px) {
  .masthead {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
  .masthead h1, .masthead .h1 {
    font-size: 3rem;
  }
}

.features-icons {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.features-icons .features-icons-item {
  max-width: 20rem;
}
.features-icons .features-icons-item .features-icons-icon {
    border: 1px solid #e51813;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin: auto;
    background: #e51813;
    margin-bottom: 2rem;
}
.features-icons .features-icons-item .features-icons-icon i {
  font-size: 4.5rem;
}

.course {
  position: relative;
  background-color: #343a40;
  background: url("assets/img/course_bg.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.course:before {
  content: "";
  position: absolute;
  background-color: #22175c;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.8;
}
@media (min-width: 768px) {
  .course {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
#course_slider{
  position: relative;
}
.course .owl-nav {
  position: absolute;
  top: -100px;
  right: 0;
}
.course .owl-nav button span{
  color: #141010;
}
.course .owl-carousel .owl-nav button.owl-next, .course .owl-carousel .owl-nav button.owl-prev{
  width: 70px;
  height: 70px;
  background: #fff;
  border-radius: 0;
  color: #141010;
}
.course .owl-nav button i:hover {
  color: #141010;
  font-size: 30px;
}
.course .owl-nav button i {
  font-size: 30px;
}
.course .stroke{
  position: relative;
  -webkit-text-stroke: 1px #fff;
  font-size: 5rem;
  color: #483e76;
  margin-bottom: 0;
}
.circle_body {
  border: 12px solid #f00;
  margin: 15px;
  border-radius: 100%;
  width: 260px;
  height: 260px;
  padding: 40px 20px;
}
.circle_body a {
  text-decoration: none;
}
.circle_body p {
  color: #212529;
}
.circleOne{
  border-color: #f63902;
}
.circleOne h3{
  color: #f63902;
}
.circleTwo{
  border-color: #06c6d3;
}
.circleTwo h3{
  color: #06c6d3;
}
.circleThree{
  border-color: #feb600;
}
.circleThree h3{
  color: #feb600;
}

.testimonial{
  background: #f5f5f5;
  text-align: center;
  padding: 10px 20px;
  margin: 0 15px 100px;
  position: relative;
}
.testimonial .icon{
  display: inline-block;
  font-size: 80px;
  color: #bd986b;
  margin-bottom: 20px;
  opacity: 0.6;
}
.testimonial .description{
  font-size: 15px;
  color: #777;
  text-align: left;
  margin-bottom: 30px;
  opacity: 0.8;
}
.testimonial .testimonial-content{
  width: 100%;
  position: absolute;
  left: 0;
}
.testimonial .pic{
  display: inline-block;
  border: 2px solid #fff;
  border-radius: 50%;
  box-shadow: 0 0 2px 2px #daad86;
  overflow: hidden;
  z-index: 1;
  position: relative;
  width: 80px;
}
.testimonial .pic img{
  width: 100%;
  height: auto;
}
.testimonial .title{
  font-size: 15px;
  color: #777;
  margin: 0 0 5px 0;
}
.testimonial .post{
  display: block;
  font-size: 14px;
  color: #ffd9b8;
}
.owl-theme .owl-controls{
  margin-top: 0;
}
.owl-theme .owl-controls .owl-page span{
  width: 32px;
  height: 10px;
  background: #fff;
  border: 2px solid #bd986b;
  margin: 5px;
  opacity: 1;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
  background: #ffd9b8;
  border-color: #fff;
}
/* about us */
.learncard img {
  width: 90px;
  margin: auto;
}
.learncard p{
  color: #605c5c;
}
.global h2{
  color: #83d16e;
}
.classes h2{
  color: #4187f6;
}
.students h2{
  color: #ffb609;
}
.certificate h2{
  color: #ef7359;
}
.learncard .card{
  margin-bottom: 20px;
  transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
}
.learncard .card:hover {
  cursor: pointer;
  transform: translateY(-50px);
  -webkit-transform: translateY(-50px);
  -moz-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  -o-transform: translateY(-50px);
}

.learncard .global.card:hover {
  border-bottom: 5px solid #83d16e !important;
}
.learncard .classes.card:hover {
  border-bottom: 5px solid #4187f6 !important;
}
.learncard .students.card:hover {
  border-bottom: 5px solid #ffb609 !important;
}
.learncard .certificate.card:hover {
  border-bottom: 5px solid #ef7359 !important;
}
/* special */
.special{
  background: #f1f4fb;
}
.quote .blockquote h1{
  position: relative;
}
.quote .blockquote h1::before{
  content: "\201C";
  font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 110px;
  position: absolute;
  top: auto;
  bottom: 0;
  left: -40px;
  color: #616161;
}
.quote .blockquote h1::after{
  content: "\201C";
  font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 110px;
  position: absolute;
  right: 0;
  transform: rotateZ(180deg);
  top: 0;
  color: #616161;
}
/* team */
.team_pic{
  margin-bottom: 14px;
}
.team_pic img {
  border: 3px dashed #959595;
  border-radius: 100%;
  padding: 10px;
  margin-bottom: 14px;
}
/* latest news */
.latestnews_item img{
  border-radius: 6px;
}
.latestnews_item h5 {
  color: #fff;
  background: #db200f;
  padding: 10px;
  max-width: 70%;
  margin: auto;
  border-radius: 3px;
  text-align: center;
  margin-top: -20px;
  position: relative;
  margin-bottom: 20px;
}
.latestnews_item h6{
  color: #fff;
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
}
.latestnews {
  position: relative;
  background-color: #343a40;
  background: url("assets/img/course_bg.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.latestnews:before {
  content: "";
  position: absolute;
  background-color: #000;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.8;
}
@media (min-width: 768px) {
  .latestnews {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
#latestnews_slider{
  position: relative;
}
.latestnews .owl-nav {
  position: absolute;
  top: -100px;
  right: 0;
}
.latestnews .owl-nav button span{
  color: #141010;
}
.latestnews .owl-carousel .owl-nav button.owl-next, .latestnews .owl-carousel .owl-nav button.owl-prev{
  width: 50px;
  height: 50px;
  background:transparent;
  border-radius: 3px;
  border: 1px solid #fff;
  color: #fff;
}
.latestnews .owl-nav button i:hover {
  color: #fff;
  font-size: 20px;
}
.latestnews .owl-nav button i {
  font-size: 20px;
}
/* contact us */
.contactus .card, .contactus .branch{
   background: #eeeff3;
   border: none;
   margin-top: 20px;
   height: 100%;
}
.contactus .card a, .contactus .branch a{
  color:#3d3387;
}
.quick{
  padding-top: 5em;
}
.quickcon{
  background: #e01c0c;
  color: #fff;
  padding: 10px 25px;
  border-radius: 30px;
  border: none;
}
/* recorded sec */
.recordvideos .card-img-overlay {
  background: rgb(0 0 0 / 62%);
  border-radius: 0;
}
.recordvideos .card-title{
  color: #fff;
  font-size: 20px;
  white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.recordvideos .card-text{
  font-size: 14px;
}
.recordvideos .card{
  border-radius: 0;
}
.card-bottom {
  position: absolute;
  width: 90%;
  bottom: 0;
  margin-bottom: 10px;
}
.playicon {
  font-size: 40px;
  position: absolute;
  top: 50%;
  transform: translateY(-80%);
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
}
ul.nav.nav-tabs.recordtabs{
  border-bottom: none;
  margin-top: 2em;
  
}
.nav-tabs.recordtabs a.nav-link {
  border: 1px solid #c9c9c9;
  border-radius: 30px;
  margin-right: 16px;
  margin-bottom: 10px;
  padding: 12px 22px;
  color: #444242;
  font-weight: 500;
  transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
}
.nav-tabs.recordtabs a.nav-link:hover{
  background: #dc3545;
  color: #fff;
}
.nav-tabs.recordtabs a.nav-link.active{
  background: #dc3545;
  color: #fff;
}
/* footer */
footer.footerBg {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #0e0a25;
}
.footerBg h2{
  color: #8d2931;
  margin-bottom: 1em;
  font-size: 1.5rem;
}
.footerBg p{
  color: #fff;
}
.footerBg ul li a >i {
  font-size: 0.625rem;
}
.footerBg ul li a, .footerBg ul li {
  color: #fff;
}
.footerBg ul li a {
  padding: 5px 0;
  display: inline-block; 
  text-decoration: none;
  font-size: .875rem;
}
.footerBg ul li >i {
  padding-right: 10px;
} 
.copyright p, .copyright p a{
  color: #807b7b;
}
.footer-links {
  padding: 5px 0;
  display: inline-block; 
  text-decoration: none;
  color:#fff;
}
.page-sub-title {
  width: 100%;
  text-align: center;
  padding: 30px 0;
  margin: 0;
}
@media only screen and (max-width: 991px) {
  .learncard .card:hover{
    transform: translateY(-10px);
  }
  .contactus .card, .contactus .branch{
    height: auto;
  }
  .recordvideos .col-lg-4{
    margin-bottom: 12px;
  }
}
.owl-carousel .owl-item {
  padding: 10px;
}
.owl-theme .owl-nav .owl-prev {
  width: 70px;
    height: 70px;
    background: #fff;
    border-radius: 0;
    color: #141010;
    position: relative;
}
.owl-theme .owl-nav .owl-next {
  width: 70px;
    height: 70px;
    background: #fff;
    border-radius: 0;
    color: #141010;
    position: relative;
}
.owl-theme .owl-nav .owl-prev i, .owl-theme .owl-nav .owl-next i {
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  transform: translateY(-50%);
}
.owl-theme .card-body {
  padding: 8px;
}
.contenttextjustify{
  text-align: justify;
  letter-spacing: 0.05em;}
.content-list, .content-list li {
  padding: 0;
  margin: 0;
  list-style: none;
}
.left-panel-heading {
  padding: 20px 0 10px 0;
  font-size: 1.5rem;
  margin: 0
} 
.courses-list-left, .courses-list-left li {
  list-style: none;
  padding: 0;
}
.courses-list-left li a{
  padding: 8px;
  text-decoration: none;
  color: #d5135b;
  border-top: 1px solid #fff;
  background: linear-gradient(to right, #eb5959 50%, #e5e5e5 50%);
  background-size: 200% 100%;
  background-position:right bottom;
  width: 100%;
  display: block;
  transition:all 1s ease;
  font-weight: 600;
}
.courses-list-left li a:hover {
  background-position:left bottom;
  color: #fff;
}