
<div class="sticky-top top120">
<section class="aboutus">
    <div class="container position-relative">
        <div class="row justify-content-end">
            <div class="col-xl-12 text-center">
                <div class="text-white ms-auto">
                    <!-- Page heading-->
                    <h2 class="mb-2">{{responses_Subheading}}</h2>
                  
                    <a href="javascript:void(0)" class="text-decoration-none textprimary">Courses <i class="bi bi-chevron-right"></i></a>  <a href="javascript:void(0)" class="text-decoration-none textprimary">Domestice Courses <i class="bi bi-chevron-right"></i></a> <span class="textprimary">CS</span>
                </div>
            </div>
        </div>
    </div>
</section>
</div>

<section class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-12">
                <h2 class="left-panel-heading">Courses</h2>
                <div class="features-image-2">
                    <img src="assets/img/course-02.jpg" alt="patshala">
                </div>
                <ul class="courses-list-left">
                    <li><a [routerLink]="['/cpa']"> Commerce Professional Courses </a></li>
                    <li><a [routerLink]="['/cs']" > CS</a></li>
                    <li><a [routerLink]="['/ca']" > CA</a></li>
                    <li><a [routerLink]="['/cma']" > CMA</a></li>
                    <li><a [routerLink]="['/acca']" > ACCA</a></li>
                <li><a [routerLink]="['/cima']" > CIMA</a></li>
                <li><a [routerLink]="['/cima_us']" > CMA(US)</a></li>
                <li><a [routerLink]="['/study_hub_videos']" > Study Hub- Videos</a></li>
                <li><a [routerLink]="['/online_live_classes']" > Online-Live Classes</a></li>
                <li><a [routerLink]="['/recordedvideos']" > Resource-Live Classes Recordings</a></li>
                </ul>
            </div>
            <div class="col-md-9 col-sm-12">  <br>
                <div  *ngFor="let res of csresponses">                  
                    <h2 *ngIf="res.Content_Subheading" class="page-sub-title">{{res.Content_Subheading}}</h2>                    
                    <p style="text-align: justify">{{res.menu}}</p>
              
                </div>
                
            </div>
        </div>
    </div>
</section>


