<!-- about-->
<div class="sticky-top top120">
<section class="aboutus">
    <div class="container position-relative">
        <div class="row justify-content-end">
            <div class="col-xl-12 text-center">
                <div class="text-white ms-auto">
                    <!-- Page heading-->
                    <h1 class="mb-2">News and Events</h1>
                    
                    <a href="index.html" class="text-decoration-none textprimary">Home <i class="bi bi-chevron-right"></i></a> <span class="textprimary">News and Events</span>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
<!-- news -->
<!-- <section class="newssec py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img src="assets/img/New_Batches_Patashala.png" class="img-fluid" alt="New Batches Patashala"/>
            </div>
          
        </div>
    </div>
</section> -->
<!-- latest news -->
 <!-- news -->
 <section class="newssec py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="learnheading text-center">
                    <h2 class="fw-bold">New Batch Starts</h2>
                    <p>Upcoming Education Events to feed your brain.</p>
                </div>
                <button class="viewbtn">View All</button>
                <div class="newswidget">
                    <hr>
                    <div class="row mb-4">
                        <div class="newsdate text-center col-lg-2">
                            <h1>3</h1>
                            <h4>January</h4>
                        </div>
                        <div class="col-lg-8">
                            <h1>ACCA (Knowledge Level ) and CMA(USA)</h1>
                            <ul class="list-inline mb-0">
                                <li class="list-inline-item"><i class="bi bi-stopwatch"></i> <span>08:00 - 17:00</span></li>
                                <li class="list-inline-item"><i class="bi bi-pin-map-fill"></i> <span>Hyderabad</span></li>
                            </ul>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                        </div>
                        <div class="col-lg-2">
                             src="assets/img/Patashalalogo.png" alt="Patshala is one of the best Commerce and Management institutions in Hyderabad"/>
                        </div>
                    </div>
                    <hr>
                    <div class="row mb-4">
                        <div class="newsdate text-center col-lg-2">
                            <h1>22</h1>
                            <h4>January</h4>
                        </div>
                        <div class="col-lg-8">
                            <h1>CA/CMA Inter</h1>
                            <ul class="list-inline mb-0">
                                <li class="list-inline-item"><i class="bi bi-stopwatch"></i> <span>08:00 - 17:00</span></li>
                                <li class="list-inline-item"><i class="bi bi-pin-map-fill"></i> <span>Hyderabad</span></li>
                            </ul>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                        </div>
                        <div class="col-lg-2">
                            <img src="assets/img/Patashalalogo.png" alt="Patshala is one of the best Commerce and Management institutions in Hyderabad"/>
                        </div>
                    </div>
                    <hr>
                    <div class="row mb-4">
                        <div class="newsdate text-center col-lg-2">
                            <h1>5</h1>
                            <h4>February</h4>
                        </div>
                        <div class="col-lg-8">
                            <h1>CA/CMA Foundation</h1>
                            <ul class="list-inline mb-0">
                                <li class="list-inline-item"><i class="bi bi-stopwatch"></i> <span>08:00 - 17:00</span></li>
                                <li class="list-inline-item"><i class="bi bi-pin-map-fill"></i> <span>Hyderabad</span></li>
                            </ul>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                        </div>
                        <div class="col-lg-2">
                            <img src="assets/img/Patashalalogo.png" alt="Patshala is one of the best Commerce and Management institutions in Hyderabad"/>
                        </div>
                    </div>
                    <hr>
                    <div class="row mb-4">
                        <div class="newsdate text-center col-lg-2">
                            <h1>8</h1>
                            <h4>April</h4>
                        </div>
                        <div class="col-lg-8">
                            <h1>CLAT(DEC 2024) and IMPAT (June 2024)</h1>
                            <ul class="list-inline mb-0">
                                <li class="list-inline-item"><i class="bi bi-stopwatch"></i> <span>08:00 - 17:00</span></li>
                                <li class="list-inline-item"><i class="bi bi-pin-map-fill"></i> <span>Hyderabad</span></li>
                            </ul>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                        </div>
                        <div class="col-lg-2">
                            <img src="assets/img/Patashalalogo.png" alt="Patshala is one of the best Commerce and Management institutions in Hyderabad"/>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="download-brochure">
                <a href="assets/img" download="New_Batches_Patashala.jpg" >
                    Download Brochure
                </a>
            </div>
        </div>
    </div>
</section>
<!-- latest news -->
<section class="latestnews py-5">
    <div class="container">
        <div class="row">
             <div class="col-lg-12">
                <!-- <h1 class="text-white position-relative">Latest News</h1>
                <h6 class="text-white position-relative mb-5">coming soon..</h6>  -->
                <div id="latestnews_slider" class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="latestnews_item">
                            <img src="assets/img/testimonials-1.jpg" alt="Patshala is one of the best Commerce and Management institutions in Hyderabad"/>
                            <h5>Kenny White - 20/09/2023</h5>
                            <h6>Indroducing:Dr.Deniz Zeynep</h6>
                        </div>
                    </div>
                    <div class="item">
                        <div class="latestnews_item">
                            <img src="assets/img/testimonials-2.jpg" alt="Patshala is one of the best Commerce and Management institutions in Hyderabad"/>
                            <h5>Kenny White - 20/09/2023</h5>
                            <h6>Indroducing:Dr.Deniz Zeynep</h6>
                        </div>
                    </div>
                    <div class="item">
                        <div class="latestnews_item">
                            <img src="assets/img/testimonials-3.jpg" alt="Patshala is one of the best Commerce and Management institutions in Hyderabad"/>
                            <h5>Kenny White - 20/09/2023</h5>
                            <h6>Indroducing:Dr.Deniz Zeynep</h6>
                        </div>
                    </div>
                    <div class="item">
                        <div class="latestnews_item">
                            <img src="assets/img/testimonials-2.jpg" alt="Patshala is one of the best Commerce and Management institutions in Hyderabad"/>
                            <h5>Kenny White - 20/09/2023</h5>
                            <h6>Indroducing:Dr.Deniz Zeynep</h6>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>     
<p-dialog header="Quick Contact Form" 
    [(visible)]=showDialog
    [modal]="true" 
    [style]="{width: '50vw'}"
    [breakpoints]=" 
        { 
         
            '480px': '95vw' 
        }"
    [draggable]="false" 
    [resizable]="false">
    <form [formGroup]="dialogquickContactForm" (ngSubmit)="donSubmit()">
        <div class="container">
                <div class="row">
                    <div *ngIf="successMessageindialog" class="success-message success-res-message">
                        {{ successMessageindialog }}
                      </div>
                    <div *ngIf="fulName && fulName.invalid && (fulName.dirty || fulName.touched)">
                        <div *ngIf="fulName.hasError('required')" class="error-res-message">
                          Name is mandatory.
                        </div>
                      </div>
                      <div *ngIf="dmobile && dmobile.invalid && (dmobile.dirty || dmobile.touched)">
                        <div *ngIf="dmobile.hasError('required')" class="error-res-message">
                          Mobile number is mandatory.
                        </div>
                        <div *ngIf="dmobile.hasError('pattern')" class="error-res-message">
                          Please enter a valid 10-digit mobile number.
                        </div>
                      </div>
                      <div *ngIf="demail && demail.invalid && (demail.dirty || demail.touched)">
                        <div *ngIf="demail.hasError('required')" class="error-res-message">
                          Email is mandatory.
                        </div>
                        <div *ngIf="demail.hasError('email')" class="error-res-message">
                          Please enter a valid email address.
                        </div>
                      </div>
                    <div class="col-md-6 col-sm-12">
                        <label for="exampleInputEmail1" class="form-label">Name</label>
                        <input type="text" class="form-control" id="username" formControlName = "fulName">
                        <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
                    </div>
                    <div class="col-md-6 col-sm-12">
                            <label for="exampleInputEmail1" class="form-label">Email</label>
                            <input type="email" class="form-control" id="exampleInputEmail1"  formControlName="demail">
                            <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                            <label for="exampleInputEmail1" class="form-label">Mobile  </label>
                            <input type="text" class="form-control" id="exampleInputEmail1" formControlName="dmobile">
                            <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <label for="exampleInputEmail1" class="form-label">State </label>
                        <p-dropdown appendTo="body" [options]="states" formControlName="dstate"  [showClear]="true" class="form-control" placeholder="Select State"></p-dropdown>

                        
                        <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
                </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                            <label for="exampleInputEmail1" class="form-label">Course/ PROGRAM</label>
                            <p-dropdown appendTo="body" [options]="courses" formControlName="dcourse"  [showClear]="true" class="form-control" placeholder="Select Course"></p-dropdown>
                            
                            <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
                    </div>
                </div>
                <div class="row tpad bpad">
                    <div class="col-md-12 text-end">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
        </div>
    </form>
</p-dialog>

<!-- end course -->