<!-- about-->
<section class="aboutus py-5">
    <div class="container position-relative">
        <div class="row justify-content-end">
            <div class="col-xl-12 text-center">
                <div class="text-white ms-auto">
                    <!-- Page heading-->
                    <h1 class="mb-2">News and Events</h1>
                    <p class="text-white w-75 m-auto pb-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
                    <a href="index.html" class="text-decoration-none textprimary">Home <i class="bi bi-chevron-right"></i></a> <span class="textprimary">News and Events</span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- news -->
<section class="newssec py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img src="assets/img/New_Batches_Patashala.png" class="img-fluid" alt="New Batches Patashala"/>
            </div>
            <div class="col-lg-12">
                <div class="learnheading text-center">
                    <h2 class="fw-bold">Learn with passion to live with purpose</h2>
                    <p>Upcoming Education Events to feed your brain.</p>
                </div>
                <button class="viewbtn">View All</button>
                <div class="newswidget">
                    <hr>
                    <div class="row mb-4">
                        <div class="newsdate text-center col-lg-2">
                            <h1>31</h1>
                            <h4>December</h4>
                        </div>
                        <div class="col-lg-8">
                            <h1>Applying Natural Laws to Technology and Society</h1>
                            <ul class="list-inline mb-0">
                                <li class="list-inline-item"><i class="bi bi-stopwatch"></i> <span>08:00 - 17:00</span></li>
                                <li class="list-inline-item"><i class="bi bi-pin-map-fill"></i> <span>Hyderabad</span></li>
                            </ul>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                        </div>
                        <div class="col-lg-2">
                            <img src="assets/img/Patashalalogo.png"/>
                        </div>
                    </div>
                    <hr>
                    <div class="row mb-4">
                        <div class="newsdate text-center col-lg-2">
                            <h1>31</h1>
                            <h4>December</h4>
                        </div>
                        <div class="col-lg-8">
                            <h1>Applying Natural Laws to Technology and Society</h1>
                            <ul class="list-inline mb-0">
                                <li class="list-inline-item"><i class="bi bi-stopwatch"></i> <span>08:00 - 17:00</span></li>
                                <li class="list-inline-item"><i class="bi bi-pin-map-fill"></i> <span>Hyderabad</span></li>
                            </ul>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                        </div>
                        <div class="col-lg-2">
                            <img src="assets/img/testimonials-1.jpg"/>
                        </div>
                    </div>
                    <hr>
                    <div class="row mb-4">
                        <div class="newsdate text-center col-lg-2">
                            <h1>31</h1>
                            <h4>December</h4>
                        </div>
                        <div class="col-lg-8">
                            <h1>Applying Natural Laws to Technology and Society</h1>
                            <ul class="list-inline mb-0">
                                <li class="list-inline-item"><i class="bi bi-stopwatch"></i> <span>08:00 - 17:00</span></li>
                                <li class="list-inline-item"><i class="bi bi-pin-map-fill"></i> <span>Hyderabad</span></li>
                            </ul>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                        </div>
                        <div class="col-lg-2">
                            <img src="assets/img/testimonials-1.jpg"/>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>
<!-- latest news -->
<section class="latestnews py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="text-white position-relative">Latest News</h1>
                <h6 class="text-white position-relative mb-5">Education news all over the world</h6>
                <div id="latestnews_slider" class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="latestnews_item">
                            <img src="assets/img/testimonials-1.jpg"/>
                            <h5>Kenny White - 20/09/2023</h5>
                            <h6>Indroducing:Dr.Deniz Zeynep</h6>
                        </div>
                    </div>
                    <div class="item">
                        <div class="latestnews_item">
                            <img src="assets/img/testimonials-2.jpg"/>
                            <h5>Kenny White - 20/09/2023</h5>
                            <h6>Indroducing:Dr.Deniz Zeynep</h6>
                        </div>
                    </div>
                    <div class="item">
                        <div class="latestnews_item">
                            <img src="assets/img/testimonials-3.jpg"/>
                            <h5>Kenny White - 20/09/2023</h5>
                            <h6>Indroducing:Dr.Deniz Zeynep</h6>
                        </div>
                    </div>
                    <div class="item">
                        <div class="latestnews_item">
                            <img src="assets/img/testimonials-2.jpg"/>
                            <h5>Kenny White - 20/09/2023</h5>
                            <h6>Indroducing:Dr.Deniz Zeynep</h6>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>        
<!-- end course -->