<!-- about-->
<section class="aboutus py-5">
    <div class="container position-relative">
        <div class="row justify-content-end">
            <div class="col-xl-12 text-center">
                <div class="text-white ms-auto">
                    <!-- Page heading-->
                    <h1 class="mb-2">About Patashala</h1>
                    
                    <a href="index.html" class="text-decoration-none textprimary">Home <i class="bi bi-chevron-right"></i></a> <span class="textprimary">About Patashala</span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Learn -->
<section class="learn py-5">
    <div class="container">
        <div class="row">
            <div class="learnheading text-center">
                <h2 class="fw-bold">Learn with passion to live with purpose</h2>
                <p>Coming soon with text</p>
            </div>
            <div class="row learncard text-center py-5">
                <div class="col-md-6 col-lg-3">
                    <div class="global card shadow rounded border-0 p-5">
                        <img src="assets/img/about_icon1.png" alt="" class="mb-3">
                        <h2>94532</h2>
                        <p>Foreign Followers</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="classes card shadow rounded border-0 p-5">
                        <img src="assets/img/about_icon2.png" alt="" class="mb-3">
                        <h2>11223</h2>
                        <p>Classes complete</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="students card shadow rounded border-0 p-5">
                        <img src="assets/img/about_icon3.png" alt="" class="mb-3">
                        <h2>25678</h2>
                        <p>Students Enrolled</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="certificate card shadow rounded border-0 p-5">
                        <img src="assets/img/about_icon4.png" alt="" class="mb-3">
                        <h2>2678</h2>
                        <p>Certified Teachers</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- special  -->
<section class="special py-5">
    <div class="container">
        <div class="row">
            <div class="learnheading text-center">
                <h2 class="fw-bold">What Make Us Special?</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            </div>
            <div class="row specialcard py-5">
                <div class="col-md-4">
                    <div class="whowe">
                        <h2 class="fw-bold mb-3">Who we are</h2>
                        <img src="assets/img/whoweare.jpg" alt="" class="mb-3">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                        <a href="#!" class="fw-bold text-dark text-decoration-none">Read More</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="whowe">
                        <h2 class="fw-bold mb-3">Who we do</h2>
                        <img src="assets/img/whowedo.jpg" alt="" class="mb-3">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                        <a href="#!" class="fw-bold text-dark text-decoration-none">Read More</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="whowe">
                        <h2 class="fw-bold mb-3">How it work</h2>
                        <img src="assets/img/howitworks.jpg" alt="" class="mb-3">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                        <a href="#!" class="fw-bold text-dark text-decoration-none">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- quote -->
<section class="quote py-5">
    <div class="container">
        <div class="row border-bottom border-dark pb-3">
            <div class="col-md-9 m-auto">
                <figure>
                    <blockquote class="blockquote">
                        <h1>Words by our Founder.. coming soon</h1>
                    </blockquote>
                    
                    <h5 class="text-black-50">Ram Mohan<cite title="Source Title">, Director & Founder</cite></h5> 
                  
                </figure>
            </div>
            
        </div>
    </div>
</section>

<!-- How to works-->
<section class="team text-center py-5">
    <div class="container">
        <div class="row">
            <h1 class="text-center fw-bold">Meet Our Team</h1>
            <p class="mb-5">Neque porro quisquam est, qui dolorem ipsum quia dolor sit ame</p>
            <div class="col-lg-3 col-md-6">
                <div class="team_pic">
                    <img src="assets/img/testimonials-1.jpg"/>
                    <h3>George Clinton</h3>
                    <p class="mb-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="team_pic">
                    <img src="assets/img/testimonials-1.jpg"/>
                    <h3>George Clinton</h3>
                    <p class="mb-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="team_pic">
                    <img src="assets/img/testimonials-1.jpg"/>
                    <h3>George Clinton</h3>
                    <p class="mb-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="team_pic">
                    <img src="assets/img/testimonials-1.jpg"/>
                    <h3>George Clinton</h3>
                    <p class="mb-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Footer-->