<!-- about-->
<section class="aboutus top120">
    <div class="container position-relative">
        <div class="row justify-content-end">
            <div class="col-xl-12 text-center">
                <div class="text-white ms-auto">
                    <!-- Page heading-->
                    <h1 class="mb-2">About Us</h1>
                    <a href="index.html" class="text-decoration-none textprimary">Home <i
                            class="bi bi-chevron-right"></i></a> <span class="">About Patashala</span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Learn -->
<section class="learn py-5">
    <div class="container">
        <p class="about-first-page elementtitle">{{aboutusresponses[0].menu}}</p>
        <div class="row">
            <div class="col-md-6">
                <p style="text-align: justify" class="p-5">{{aboutusresponses[1].menu}}</p>
            </div>
            <div class="col-md-6">
                <div class="features-image-2">
                <img src="assets/img/Gallery/BhavansEvent/BhavansEvent_1.jpg" alt="patshala" class="p-5">
          </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6"> 
                <div class="features-image-2">
                <img src="assets/img/Gallery/HimayathnagarBranchLaunch/HN7.JPG" alt="patshala"
                    class="p-5">
                    </div>
            </div>
            <div class="col-md-6">
                <h4 class="page-sub-title">{{aboutusresponses[2].contentsubheading}}</h4>
                <p style="text-align: justify">{{aboutusresponses[2].menu}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4 class="page-sub-title">{{aboutusresponses[3].contentsubheading}}</h4>
                <p style="text-align: justify">{{aboutusresponses[3].menu}}</p>
            </div>
            <div class="col-md-6">
                <img src="assets/img/Gallery/Seminar/Seminar16.jpg" alt="patshala" >
            </div>
        </div>
        <div class="row">
            <div class="col-md-6"> <img src="assets/img/patshala_1.jpeg" alt="patshala" class="p-5">
            </div>
            <div class="col-md-6 p-5">
                <h4 class="page-sub-title" >{{aboutusresponses[4].contentsubheading}}</h4>
                <p style="text-align: justify">{{aboutusresponses[4].menu}}</p>
            </div>
        </div>
        <div class="row special learncard text-center py-5 broadcost">
            <div class="col-md-6 col-lg-2">
                <div class="global card shadow rounded border-0 ">
                    <img src="assets/img/location-icon.png"
                        alt="Patshala is one of the best Commerce and Management institutions in Hyderabad"
                        class="mb-3">
                    <h2>4</h2>
                    <p>Location</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-2">
                <div class="global card shadow rounded border-0">
                    <img src="assets/img/collaborations-icon.png"
                        alt="Patshala is one of the best Commerce and Management institutions in Hyderabad"
                        class="mb-3">
                    <h2>10</h2>
                    <p>collaborations</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-2">
                <div class="classes card shadow rounded border-0">
                    <img src="assets/img/Faculties.png"
                        alt="Patshala is one of the best Commerce and Management institutions in Hyderabad"
                        class="mb-3">
                    <h2>25</h2>
                    <p>Faculties</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-2">
                <div class="students card shadow rounded border-0">
                    <img src="assets/img/Staff.jpeg"
                        alt="Patshala is one of the best Commerce and Management institutions in Hyderabad"
                        class="mb-3">
                    <h2>⁠80+ </h2>
                    <p>Staff</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-2">
                <div class="certificate card shadow rounded border-0">
                    <img src="assets/img/about_icon4.png"
                        alt="Patshala is one of the best Commerce and Management institutions in Hyderabad"
                        class="mb-3">
                    <h2>⁠200+</h2>
                    <p> Students</p>
                </div>
            </div>
        </div>

    </div>
</section>

<!-- quote -->
<section class="quote py-5">
    <div class="container">
        <div class="row border-bottom border-dark pb-3">
            <div class="col-md-9 m-auto">
                <figure>
                    <blockquote class="blockquote">
                        <h1>Words by our Founder.. Coming soon</h1>
                    </blockquote>

                    <h5 class="text-black-50">Ram Mohan<cite title="Source Title">, Founder & Chairman</cite></h5>

                </figure>
            </div>

        </div>
    </div>
</section>

<!-- How to works-->
<!-- <section class="team text-center py-5">
    <div class="container">
        <div class="row">
            <h1 class="text-center fw-bold">Meet Our Team</h1>
            <p class="mb-5">Neque porro quisquam est, qui dolorem ipsum quia dolor sit ame</p>
            <div class="col-lg-3 col-md-6">
                <div class="team_pic">
                    <img src="assets/img/testimonials-1.jpg" alt="Patshala is one of the best Commerce and Management institutions in Hyderabad"/>
                    <h3>George Clinton</h3>
                    <p class="mb-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="team_pic">
                    <img src="assets/img/testimonials-1.jpg" alt="Patshala is one of the best Commerce and Management institutions in Hyderabad"/>
                    <h3>George Clinton</h3>
                    <p class="mb-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="team_pic">
                    <img src="assets/img/testimonials-1.jpg" alt="Patshala is one of the best Commerce and Management institutions in Hyderabad"/>
                    <h3>George Clinton</h3>
                    <p class="mb-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="team_pic">
                    <img src="assets/img/testimonials-1.jpg" alt="Patshala is one of the best Commerce and Management institutions in Hyderabad"/>
                    <h3>George Clinton</h3>
                    <p class="mb-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</p>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- Footer-->