<div class="sticky-top top120">
  <section class="aboutus">
    <div class="container position-relative">
      <div class="row justify-content-end">
        <div class="col-xl-12 text-center">
          <div class="text-white ms-auto">
            <!-- Page heading-->
            <h1 class="mb-2">Faculty</h1>
            <a href="index.html" class="text-decoration-none textprimary">Home <i class="bi bi-chevron-right"></i></a>
            <span class="textprimary">Faculty</span>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<!----faclity-->

<section class="special py-5">
  <div class="container" >
    <div class="row" >
      <div class="col-md-3" *ngFor="let imageData of imageData">
        <div class="whowe">
          <img [src]="imageData.imageUrl" alt="patshala" class="mb-3 img-data">
          <p class="fw-bold text-dark text-decoration-none">{{ imageData.imageDescription }}</p>
        </div>
      </div>
    </div>
  </div>
</section>