
<div class="sticky-top top120">
<section class="aboutus">
    <div class="container position-relative">
        <div class="row justify-content-end">
            <div class="col-xl-12 text-center">
                <div class="text-white ms-auto">
                    <!-- Page heading-->
                    <h1 class="mb-2">Study Hub- Videos</h1>
                    <a href="javascript:void(0)" class="text-decoration-none textprimary">Students <i class="bi bi-chevron-right"></i></a>   <span class="textprimary">Study Hub- Videos</span>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
<section class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="features-image-2 text-center">
                    <!-- <img src="assets/img/newsletter-img-1.gif" alt="patshala"> -->
                 <h4 class="w-75 m-auto pb-4">Comming Soon</h4>
                </div>
            </div>
        </div>
    </div>
</section>


