<section class="aboutus">
    <div class="container position-relative">
        <div class="row justify-content-end">
            <div class="col-xl-12 text-center">
                <div class="text-white ms-auto">
                    <!-- Page heading-->
                    <h4 class="mb-2">{{subheading}}</h4>
                    <a href="index.html" class="text-decoration-none textprimary">Home <i
                            class="bi bi-chevron-right"></i></a> <span class="textprimary">{{subheading}}</span>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4 pt-5 text-center">
                        <div class="features-image-2 pt-4">
                            <img src="assets/img/charmain.jpg" alt="patshala" class="img_about">
                        </div>
                    </div>
                    <div class="col-md-8 pt-5">
                        <h2 class="page-sub-title">{{ourteamresponses[0].Content_Subheading}}</h2>
                        <p style="text-align: justify">{{ourteamresponses[0].menu}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 pt-5 text-center">
                        <h2 class="page-sub-title">{{ourteamresponses[1].Content_Subheading}}</h2>
                        <p style="text-align: justify">{{ourteamresponses[1].menu}}</p>
                    </div>
                    <div class="col-md-4 pt-5">
                        <div class="features-image-2 pt-4">
                            <img src="assets/img/charmain_wis.JPG" alt="patshala">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 pt-5 text-center">
                        <div class="features-image-2 pt-4">
                            <img src="assets/img/Gallery/Faculty/29.JPG" alt="patshala" class="img_about">
                        </div>
                    </div>
                    <div class="col-md-8 pt-5">
                        <h2 class="page-sub-title">CHRO(Chief Human Resources Officer)</h2>
                        <p style="text-align: justify">At the helm of our human resources initiatives is Jyothi Sita Bala, our CHRO. She is committed to attracting, developing, and retaining top talent, cultivating a diverse and inclusive workplace culture that empowers our team members to thrive.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 pt-5 text-center">
                        <h2 class="page-sub-title">CTO (Chief Technology Officer)</h2>
                        <p style="text-align: justify">Leading our technological initiatives is Farzana, our CTO. She drives innovation and oversees the development and implementation of cutting-edge technology solutions that propel our organization forward in the digital age.</p>
                    </div>
                    <div class="col-md-4 pt-5">
                        <div class="features-image-2 pt-4">
                            <img src="assets/img/Gallery/Faculty/30.JPG" alt="patshala">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 pt-5 text-center">
                        <div class="features-image-2 pt-4">
                            <img src="assets/img/Gallery/Faculty/28.jpg" alt="patshala" class="img_about">
                        </div>
                    </div>
                    <div class="col-md-8 pt-5">
                        <h2 class="page-sub-title">CMO (Chief Marketing Officer)</h2>
                        <p style="text-align: justify">Rajesh Seesa is our CMO, entrusted with shaping our brand identity and driving marketing strategies that resonate with our target audience. With a focus on customer engagement and market growth, he ensures our organization remains competitive and relevant.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 pt-5 text-center">
                        <h2 class="page-sub-title">CAO (Chief Academic Officer)</h2>
                        <p style="text-align: justify">Leading our technological initiatives is Farzana, our CTO. She drives innovation and oversees the development and implementation of cutting-edge technology solutions that propel our organization forward in the digital age.</p>
                    </div>
                    <div class="col-md-4 pt-5">
                        <div class="features-image-2 pt-4">
                            <img src="assets/img/Gallery/Faculty/13.jpg" alt="patshala">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 pt-5 text-center">
                        <div class="features-image-2 pt-4">
                            <img src="assets/img/Gallery/Faculty/14.JPG" alt="patshala" class="img_about">
                        </div>
                    </div>
                    <div class="col-md-8 pt-5">
                        <h2 class="page-sub-title">COO (Chief Operations Officer)</h2>
                        <p style="text-align: justify">Rajesh Seesa is our CMO, entrusted with shaping our brand identity and driving marketing strategies that resonate with our target audience. With a focus on customer engagement and market growth, he ensures our organization remains competitive and relevant.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

