


<section class="aboutus">
    <div class="container position-relative">
        <div class="row justify-content-end">
            <div class="col-xl-12 text-center">
                <div class="text-white ms-auto">
                    <!-- Page heading-->
                    <h4 class="mb-2">{{subheading}}</h4>
                    <a href="index.html" class="text-decoration-none textprimary">Home <i class="bi bi-chevron-right"></i></a> <span class="textprimary">{{subheading}}</span>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="content-list pt-5">
                    <li *ngFor="let res of ourteamresponses">
                        <h2 class="page-sub-title" *ngIf="res.Content_Subheading">{{res.Content_Subheading}}</h2> 
                        <p style="text-align: justify">{{res.menu}}</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!----es-->
