


<section class="aboutus">
    <div class="container position-relative">
        <div class="row justify-content-end">
            <div class="col-xl-12 text-center">
                <div class="text-white ms-auto">
                    <!-- Page heading-->
                    <h4 class="mb-2">{{subheading}}</h4>
                    <a href="index.html" class="text-decoration-none textprimary">Home <i class="bi bi-chevron-right"></i></a> <span class="textprimary">{{subheading}}</span>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- <ul class="content-list pt-5">
                    <li *ngFor="let res of ourteamresponses">
                        <h2 class="page-sub-title" *ngIf="res.Content_Subheading">{{res.Content_Subheading}}</h2> 
                        <p style="text-align: justify">{{res.menu}}</p>
                    </li>
                </ul> -->
                <div class="row">
                    <div class="col-md-6 pt-5 text-center">
                       <img src="../../assets/img/Gallery/HimayathnagarBranchLaunch/HN4.JPG" alt="patshala">
                    </div>
                    <div class="col-md-6 pt-5">
                        <h2 class="page-sub-title" >{{ourteamresponses[0].Content_Subheading}}</h2>  
                        <p style="text-align: justify">{{ourteamresponses[0].menu}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 pt-5 text-center">
                        <h2 class="page-sub-title" >{{ourteamresponses[1].Content_Subheading}}</h2>  
                        <p style="text-align: justify">{{ourteamresponses[1].menu}}</p>
                    </div>
                    <div class="col-md-6 pt-5">
                        <img src="../../assets/img/Gallery/HimayathnagarBranchLaunch/HN1.JPG" alt="patshala">
                    </div>
                </div>
           
            </div>
        </div>
    </div>
</section>
<!----faclity-->
<!-- <section class="special py-5">
    <div class="container">
        <div class="row">
            <div class="learnheading text-center">
                <h2 class="fw-bold">{{ourteamresponses[2].Content_Subheading}}</h2>
                
            </div>
            <div class="row specialcard py-5">
                <div class="col-md-3">
                    <div class="whowe">
                        <img src="../../assets/img/Gallery/Faculty/1.JPG" alt="patshala" class="mb-3">
                        <p class="fw-bold text-dark text-decoration-none">{{ourteamresponses[2].menu}}</p>
                        <a href="#!" class="fw-bold text-dark text-decoration-none">Read More</a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="whowe">
                        <img src="../../assets/img/Gallery/Faculty/2.jpg" alt="patshala" class="mb-3">
                        <p class="fw-bold text-dark text-decoration-none">{{ourteamresponses[3].menu}}</p>
                       
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="whowe">
                        <img src="../../assets/img/Gallery/Faculty/3.jpg" alt="patshala" class="mb-3">
                        <p class="fw-bold text-dark text-decoration-none">{{ourteamresponses[4].menu}}</p>  
                                     <a href="#!" class="fw-bold text-dark text-decoration-none">Read More</a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="whowe">
                        <img src="../../assets/img/Gallery/Faculty/5.JPG" alt="patshala" class="mb-3">
                        <p class="fw-bold text-dark text-decoration-none">{{ourteamresponses[5].menu}}</p>  
                                   <a href="#!" class="fw-bold text-dark text-decoration-none">Read More</a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="whowe">
                        <img src="../../assets/img/Gallery/Faculty/4.jpg" alt="patshala" class="mb-3">
                        <p class="fw-bold text-dark text-decoration-none">{{ourteamresponses[6].menu}}</p>  
                        <a href="#!" class="fw-bold text-dark text-decoration-none">Read More</a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="whowe">
                        <img src="../../assets/img/Gallery/Faculty/6.jpg" alt="patshala" class="mb-3">
                        <p class="fw-bold text-dark text-decoration-none">{{ourteamresponses[7].menu}}</p>  
                        <a href="#!" class="fw-bold text-dark text-decoration-none">Read More</a>                      <a href="#!" class="fw-bold text-dark text-decoration-none">Read More</a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="whowe">
                        <img src="../../assets/img/Gallery/Faculty/7.jpg" alt="patshala" class="mb-3">
                        <p class="fw-bold text-dark text-decoration-none">{{ourteamresponses[8].menu}}</p>  
                        <a href="#!" class="fw-bold text-dark text-decoration-none">Read More</a>                      <a href="#!" class="fw-bold text-dark text-decoration-none">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
