<!-- about-->

<section class="aboutus">
    <div class="container position-relative">
        <div class="row justify-content-end">
            <div class="col-xl-12 text-center">
                <div class="text-white ms-auto">
                    <!-- Page heading-->
                    <h1 class="mb-2">Contact us</h1>
                    <a href="index.html" class="text-decoration-none textprimary">Home <i class="bi bi-chevron-right"></i></a> <span class="textprimary">Branch Address</span>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- contact -->
<section class="contactus py-5">
    <div class="container">
        <h1 class="text-center">Our Branches</h1>
        <!-- {{branchTestimonials}} -->
        <p class="text-center w-75 m-auto">Looking for additional support or have questions about Patashala? <br>Our team is here to help.</p>
        <div class="row my-3">
             <div class="col-lg-4">
            <div class="branch d-flex align-items-stretch flex-wrap p-4 pb-0">
                <ul class="list-inline w-100">
                    <li class="list-inline-item"><h4 class="mb-1">{{branchTestimonials[0].branchAddressName}}</h4></li>
                    <li class="list-inline-item float-end"><img src="assets/img/ind.png" width="50" /></li>
                </ul>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3806.4250741328833!2d78.44343507421077!3d17.439357401307824!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb912b12ad790d%3A0x45a3ca4d3e56c617!2sPatshala%20Corporate%20Office!5e0!3m2!1sen!2sin!4v1714562156014!5m2!1sen!2sin"  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>                <div class="address">
                 <br/>
                    <h6 class="mb-3">
                        {{branchTestimonials[0].housenumber}}, 
                        {{branchTestimonials[0].addessLine1}} {{branchTestimonials[0].addessLine2}}, 
                        {{branchTestimonials[0].city}} {{branchTestimonials[0].district}} {{branchTestimonials[0].state}} {{branchTestimonials[0].zipcode}}
                    </h6>
                    <h6 class="mb-5"><i class="bi-phone"></i> {{branchTestimonials[0].primaryPhonenumber}}</h6>
                </div> 
            </div>
        </div> 
        <div class="col-lg-4">
            <div class="branch d-flex align-items-stretch flex-wrap p-4 pb-0">
                <ul class="list-inline w-100">
                    <li class="list-inline-item"><h4 class="mb-1">{{branchTestimonials[1].branchAddressName}}</h4></li>
                    <li class="list-inline-item float-end"><img src="assets/img/ind.png" width="50" /></li>
                </ul>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3806.370692668442!2d78.43734417421082!3d17.441963001232537!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb91112ea58e57%3A0x7bc304ccd8a4f47a!2sPatshala!5e0!3m2!1sen!2sin!4v1714562405382!5m2!1sen!2sin" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>                <div class="address">
                    <br/>
                    <h6 class="mb-3">
                        {{branchTestimonials[1].housenumber}}, 
                        {{branchTestimonials[1].addessLine1}} {{branchTestimonials[1].addessLine2}}, 
                        {{branchTestimonials[1].city}} {{branchTestimonials[1].district}} {{branchTestimonials[1].state}} {{branchTestimonials[1].zipcode}}
                    </h6>
                    <h6 class="mb-5"><i class="bi-phone"></i> {{branchTestimonials[1].primaryPhonenumber}}</h6>
                </div> 
            </div>
        </div>
        <div class="col-lg-4">
            <div class="branch d-flex align-items-stretch flex-wrap p-4 pb-0">
                <ul class="list-inline w-100">
                    <li class="list-inline-item"><h4 class="mb-1">{{branchTestimonials[2].branchAddressName}}</h4></li>
                    <li class="list-inline-item float-end"><img src="assets/img/ind.png" width="50" /></li>
                </ul>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3807.1732372956294!2d78.4792367742099!3d17.40347200234346!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb99ddef23c8d9%3A0xe6096aaa78901bfb!2sPAGE%20Junior%20College%20Himayat%20Nagar!5e0!3m2!1sen!2sin!4v1714559002180!5m2!1sen!2sin" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                
                <div class="address">
                    <br/>
                    <h6 class="mb-3">
                        {{branchTestimonials[2].housenumber}}, 
                        {{branchTestimonials[2].addessLine1}} {{branchTestimonials[2].addessLine2}}, 
                        {{branchTestimonials[2].city}} {{branchTestimonials[2].district}} {{branchTestimonials[2].state}} {{branchTestimonials[2].zipcode}}
                    </h6>
                    <h6 class="mb-5"><i class="bi-phone"></i> {{branchTestimonials[2].primaryPhonenumber}}</h6>
                </div> 
            </div>
        </div>
                    
        </div> 
       
        <div class="row my-5">
            <h1 class="text-center">Let's Connect</h1>
            <div class="col-lg-4">
                <div class="card rounded-0">
                    <div class="d-flex p-4 pb-2">
                        <div class="flex-grow-1">
                            <h4 class="mb-1">Contact Our Team</h4>
                        </div>
                        <div class="flex-shrink-0">
                            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-suitcase-lg-fill" viewBox="0 0 16 16">
                                <path d="M7 0a2 2 0 0 0-2 2H1.5A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14H2a.5.5 0 0 0 1 0h10a.5.5 0 0 0 1 0h.5a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2H11a2 2 0 0 0-2-2H7ZM6 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1H6ZM3 13V3h1v10H3Zm9 0V3h1v10h-1Z"/>
                            </svg>
                        </div>
                        
                      </div>
                      <h6 class="p-4">Speak with a member of our sales team about the Patashala platform.</h6>
                    <a href="#" class="text-decoration-none p-4 mt-4 fw-bold">Chat with Team</a>                              
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card rounded-0">
                    <div class="d-flex p-4 pb-2">
                        <div class="flex-grow-1">
                            <h4 class="mb-1">Send Email</h4>
                        </div>
                        <div class="flex-shrink-0">
                            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                                <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
                            </svg>
                        </div>
                        
                      </div>
                      <h6 class="p-4">Speak with a member of our sales team about the Patashala platform.</h6>
                    <a href="#" class="text-decoration-none p-4 mt-4 fw-bold">Send Email</a>                              
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card rounded-0">
                    <div class="d-flex p-4 pb-2">
                        <div class="flex-grow-1">
                            <h4 class="mb-1">Helpline Number</h4>
                        </div>
                        <div class="flex-shrink-0">
                            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
                                <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                            </svg>
                        </div>
                      </div>
                      <h6 class="p-4">Speak with a member of our sales team about the Patashala platform.</h6>
                    <a href="#" class="text-decoration-none p-4 mt-4 fw-bold">Call us</a>                              
                </div>
            </div>
        </div>
        
        <!-- <div class="row tpad">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7612.56974995962!2d78.4439795!3d17.44607405!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb90e76b6662c5%3A0x9ad96c95b077cb8e!2sSanjeeva%20Reddy%20Nagar%2C%20Hyderabad%2C%20Telangana%20500038!5e0!3m2!1sen!2sin!4v1699980581497!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div> -->
      
<!-- Footer-->