 <!-- about-->
 <section class="aboutus py-5">
    <div class="container position-relative">
        <div class="row justify-content-end">
            <div class="col-xl-12 text-center">
                <div class="text-white ms-auto">
                    <!-- Page heading-->
                    <h1 class="mb-2">Recorded Videos</h1>
                    <p class="text-white w-75 m-auto pb-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
                    <a href="index.html" class="text-decoration-none textprimary">Home <i class="bi bi-chevron-right"></i></a> <span class="textprimary">Recorded Videos</span>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="recordedSec py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="text-center">Let's Watch</h1>
                <p class="text-center">Looking for additional support or have question about Patashala? <br>Our team is here to help</p>
                <ul class="nav nav-tabs recordtabs">
                    <li class="nav-item">
                      <a class="nav-link active" data-bs-toggle="tab" href="#tab1">All</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" data-bs-toggle="tab" href="#tab2">CPC Commerce</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" data-bs-toggle="tab" href="#tab3">CPC Commerce</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#tab4">CPC Commerce</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#tab4">CPC Commerce</a>
                      </li>
                  </ul>
                  
                  <!-- Tab panes -->
                  <div class="tab-content recordvideos py-5">
                    <div class="tab-pane active" id="tab1">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="card">
                                    <img class="card-img-top" src="assets/img/whowedo.jpg" alt="Card image">
                                    <div class="card-img-overlay">
                                        <i class="bi bi-play-fill text-white"></i> <span class="text-white">01:40</span>
                                        <a href="#" class="playicon"><i class="bi bi-play-circle-fill text-white"></i></a>
                                        <div class="card-bottom">
                                            <h4 class="card-title">CPC Commerce</h4>
                                            <p class="card-text  text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusm.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="card">
                                    <img class="card-img-top" src="assets/img/whoweare.jpg" alt="Card image">
                                    <div class="card-img-overlay">
                                        <i class="bi bi-play-fill text-white"></i> <span class="text-white">01:40</span>
                                        <a href="#" class="playicon"><i class="bi bi-play-circle-fill text-white"></i></a>
                                        <div class="card-bottom">
                                            <h4 class="card-title">CPC Commerce</h4>
                                            <p class="card-text  text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusm.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="card">
                                    <img class="card-img-top" src="assets/img/whowedo.jpg" alt="Card image">
                                    <div class="card-img-overlay">
                                        <i class="bi bi-play-fill text-white"></i> <span class="text-white">01:40</span>
                                        <a href="#" class="playicon"><i class="bi bi-play-circle-fill text-white"></i></a>
                                        <div class="card-bottom">
                                            <h4 class="card-title">CPC Commerce</h4>
                                            <p class="card-text  text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusm.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 mt-4">
                                <div class="card">
                                    <img class="card-img-top" src="assets/img/whowedo.jpg" alt="Card image">
                                    <div class="card-img-overlay">
                                        <i class="bi bi-play-fill text-white"></i> <span class="text-white">01:40</span>
                                        <a href="#" class="playicon"><i class="bi bi-play-circle-fill text-white"></i></a>
                                        <div class="card-bottom">
                                            <h4 class="card-title">CPC Commerce</h4>
                                            <p class="card-text  text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusm.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 mt-4">
                                <div class="card">
                                    <img class="card-img-top" src="assets/img/whoweare.jpg" alt="Card image">
                                    <div class="card-img-overlay">
                                        <i class="bi bi-play-fill text-white"></i> <span class="text-white">01:40</span>
                                        <a href="#" class="playicon"><i class="bi bi-play-circle-fill text-white"></i></a>
                                        <div class="card-bottom">
                                            <h4 class="card-title">CPC Commerce</h4>
                                            <p class="card-text  text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusm.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 mt-4">
                                <div class="card">
                                    <img class="card-img-top" src="assets/img/whowedo.jpg" alt="Card image">
                                    <div class="card-img-overlay">
                                        <i class="bi bi-play-fill text-white"></i> <span class="text-white">01:40</span>
                                        <a href="#" class="playicon"><i class="bi bi-play-circle-fill text-white"></i></a>
                                        <div class="card-bottom">
                                            <h4 class="card-title">CPC Commerce</h4>
                                            <p class="card-text  text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusm.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab2">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="card">
                                    <img class="card-img-top" src="assets/img/whowedo.jpg" alt="Card image">
                                    <div class="card-img-overlay">
                                        <i class="bi bi-play-fill text-white"></i> <span class="text-white">01:40</span>
                                        <a href="#" class="playicon"><i class="bi bi-play-circle-fill text-white"></i></a>
                                        <div class="card-bottom">
                                            <h4 class="card-title">CPC Commerce</h4>
                                            <p class="card-text  text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusm.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="card">
                                    <img class="card-img-top" src="assets/img/whoweare.jpg" alt="Card image">
                                    <div class="card-img-overlay">
                                        <i class="bi bi-play-fill text-white"></i> <span class="text-white">01:40</span>
                                        <a href="#" class="playicon"><i class="bi bi-play-circle-fill text-white"></i></a>
                                        <div class="card-bottom">
                                            <h4 class="card-title">CPC Commerce</h4>
                                            <p class="card-text  text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusm.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="card">
                                    <img class="card-img-top" src="assets/img/whowedo.jpg" alt="Card image">
                                    <div class="card-img-overlay">
                                        <i class="bi bi-play-fill text-white"></i> <span class="text-white">01:40</span>
                                        <a href="#" class="playicon"><i class="bi bi-play-circle-fill text-white"></i></a>
                                        <div class="card-bottom">
                                            <h4 class="card-title">CPC Commerce</h4>
                                            <p class="card-text  text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusm.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 mt-4">
                                <div class="card">
                                    <img class="card-img-top" src="assets/img/whowedo.jpg" alt="Card image">
                                    <div class="card-img-overlay">
                                        <i class="bi bi-play-fill text-white"></i> <span class="text-white">01:40</span>
                                        <a href="#" class="playicon"><i class="bi bi-play-circle-fill text-white"></i></a>
                                        <div class="card-bottom">
                                            <h4 class="card-title">CPC Commerce</h4>
                                            <p class="card-text  text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusm.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 mt-4">
                                <div class="card">
                                    <img class="card-img-top" src="assets/img/whoweare.jpg" alt="Card image">
                                    <div class="card-img-overlay">
                                        <i class="bi bi-play-fill text-white"></i> <span class="text-white">01:40</span>
                                        <a href="#" class="playicon"><i class="bi bi-play-circle-fill text-white"></i></a>
                                        <div class="card-bottom">
                                            <h4 class="card-title">CPC Commerce</h4>
                                            <p class="card-text  text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusm.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 mt-4">
                                <div class="card">
                                    <img class="card-img-top" src="assets/img/whowedo.jpg" alt="Card image">
                                    <div class="card-img-overlay">
                                        <i class="bi bi-play-fill text-white"></i> <span class="text-white">01:40</span>
                                        <a href="#" class="playicon"><i class="bi bi-play-circle-fill text-white"></i></a>
                                        <div class="card-bottom">
                                            <h4 class="card-title">CPC Commerce</h4>
                                            <p class="card-text  text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusm.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab3">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="card">
                                    <img class="card-img-top" src="assets/img/whowedo.jpg" alt="Card image">
                                    <div class="card-img-overlay">
                                        <i class="bi bi-play-fill text-white"></i> <span class="text-white">01:40</span>
                                        <a href="#" class="playicon"><i class="bi bi-play-circle-fill text-white"></i></a>
                                        <div class="card-bottom">
                                            <h4 class="card-title">CPC Commerce</h4>
                                            <p class="card-text  text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusm.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="card">
                                    <img class="card-img-top" src="assets/img/whoweare.jpg" alt="Card image">
                                    <div class="card-img-overlay">
                                        <i class="bi bi-play-fill text-white"></i> <span class="text-white">01:40</span>
                                        <a href="#" class="playicon"><i class="bi bi-play-circle-fill text-white"></i></a>
                                        <div class="card-bottom">
                                            <h4 class="card-title">CPC Commerce</h4>
                                            <p class="card-text  text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusm.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="card">
                                    <img class="card-img-top" src="assets/img/whowedo.jpg" alt="Card image">
                                    <div class="card-img-overlay">
                                        <i class="bi bi-play-fill text-white"></i> <span class="text-white">01:40</span>
                                        <a href="#" class="playicon"><i class="bi bi-play-circle-fill text-white"></i></a>
                                        <div class="card-bottom">
                                            <h4 class="card-title">CPC Commerce</h4>
                                            <p class="card-text  text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusm.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 mt-4">
                                <div class="card">
                                    <img class="card-img-top" src="assets/img/whowedo.jpg" alt="Card image">
                                    <div class="card-img-overlay">
                                        <i class="bi bi-play-fill text-white"></i> <span class="text-white">01:40</span>
                                        <a href="#" class="playicon"><i class="bi bi-play-circle-fill text-white"></i></a>
                                        <div class="card-bottom">
                                            <h4 class="card-title">CPC Commerce</h4>
                                            <p class="card-text  text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusm.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 mt-4">
                                <div class="card">
                                    <img class="card-img-top" src="assets/img/whoweare.jpg" alt="Card image">
                                    <div class="card-img-overlay">
                                        <i class="bi bi-play-fill text-white"></i> <span class="text-white">01:40</span>
                                        <a href="#" class="playicon"><i class="bi bi-play-circle-fill text-white"></i></a>
                                        <div class="card-bottom">
                                            <h4 class="card-title">CPC Commerce</h4>
                                            <p class="card-text  text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusm.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 mt-4">
                                <div class="card">
                                    <img class="card-img-top" src="assets/img/whowedo.jpg" alt="Card image">
                                    <div class="card-img-overlay">
                                        <i class="bi bi-play-fill text-white"></i> <span class="text-white">01:40</span>
                                        <a href="#" class="playicon"><i class="bi bi-play-circle-fill text-white"></i></a>
                                        <div class="card-bottom">
                                            <h4 class="card-title">CPC Commerce</h4>
                                            <p class="card-text  text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusm.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
            </div>
        </div>
        <div class="row quick">
            <div class="col-md-10">
                <h1>Discover the power of Patashala</h1>
            </div>
            <div class="col-md-2">
                <button class="quickcon">Quick Contact</button>
            </div>
        </div>
    </div>
</section>