<!-- Masthead-->

<section class="masthead">
    <div class="container position-relative">
        <div class="row justify-content-end">
            <div class="col-xl-6">
                <div class="text-white w-75 ms-auto">
                    <!-- Page heading-->
                    <h1 class="mb-5">{{subheading}}</h1>
                    <p style="text-align: justify" class="text-white">{{aboutPatashala}}</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- How to works-->
<section class="features-icons bg-light text-center">
    <div class="container">
        <div class="row">
            <h1 class="text-center mb-5 heading_color">WHY PATSHALA?</h1>
            <div class="col-lg-3 col-md-6">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex"><i class="bi-youtube m-auto text-white"></i></div>
                    <h3>Live Classes</h3>
                    <p class="mb-0">Providing personalized mentoring throughout their course journey.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex"><i class="bi-youtube m-auto text-white"></i></div>
                    <h3>Recordings</h3>
                    <p class="mb-0">Interactive live stream classes and recorded Video lectures.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                    <div class="features-icons-icon d-flex"><i class="bi-youtube m-auto text-white"></i></div>
                    <h3>Selected Videos</h3>
                    <p class="mb-0">Regular Doubt Sessions.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                    <div class="features-icons-icon d-flex"><i class="bi-youtube m-auto text-white"></i></div>
                    <h3>Study Hub</h3>
                    <p class="mb-0">Mock Tests, Approved study material.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- course -->
<section class="course">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="stroke">Courses</h1>
                <h2 class="text-white position-relative mb-5">What We Offer</h2>
                <owl-carousel-o [options]="customOptions">
                    <ng-template carouselSlide >
                       <div class="card rounded-0">
                           <div class="card-body">
                                <img src="assets/img/patashala_1.jpeg" alt="Patashala"/>
                           </div>
                       </div>
                   </ng-template>
                   <ng-template carouselSlide >
                    <div class="card rounded-0">
                        <div class="card-body">
                             <img src="assets/img/patashala_2.jpeg" alt="Patashala"/>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide >
                    <div class="card rounded-0">
                        <div class="card-body">
                             <img src="assets/img/patashala_3.jpeg" alt="Patashala"/>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide >
                    <div class="card rounded-0">
                        <div class="card-body">
                             <img src="assets/img/patashala_4.jpeg" alt="Patashala"/>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide >
                    <div class="card rounded-0">
                        <div class="card-body">
                             <img src="assets/img/patashala_5.jpeg" alt="Patashala"/>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide >
                    <div class="card rounded-0">
                        <div class="card-body">
                             <img src="assets/img/patashala_6.jpeg" alt="Patashala"/>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide >
                    <div class="card rounded-0">
                        <div class="card-body">
                             <img src="assets/img/patashala_7.jpeg" alt="Patashala"/>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide >
                    <div class="card rounded-0">
                        <div class="card-body">
                             <img src="assets/img/patashala_8.jpeg" alt="Patashala"/>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide >
                 <div class="card rounded-0">
                     <div class="card-body">
                          <img src="assets/img/patashala_9.jpeg" alt="Patashala"/>
                     </div>
                 </div>
             </ng-template>
             <ng-template carouselSlide >
                 <div class="card rounded-0">
                     <div class="card-body">
                          <img src="assets/img/patashala_10.jpeg" alt="Patashala"/>
                     </div>
                 </div>
             </ng-template>
             <ng-template carouselSlide >
                 <div class="card rounded-0">
                     <div class="card-body">
                          <img src="assets/img/patashala_11.jpeg" alt="Patashala"/>
                     </div>
                 </div>
             </ng-template>
             <ng-template carouselSlide >
                 <div class="card rounded-0">
                     <div class="card-body">
                          <img src="assets/img/patashala_12.jpeg" alt="Patashala"/>
                     </div>
                 </div>
             </ng-template>
             <ng-template carouselSlide >
                 <div class="card rounded-0">
                     <div class="card-body">
                          <img src="assets/img/patashala_13.jpeg" alt="Patashala"/>
                     </div>
                 </div>
             </ng-template>
             <ng-template carouselSlide >
                 <div class="card rounded-0">
                     <div class="card-body">
                          <img src="assets/img/patashala_14.jpeg" alt="Patashala"/>
                     </div>
                 </div>
             </ng-template>
                </owl-carousel-o>
                <!-- <div *ngFor="let menuItem of courselist">
                    {{menuItem.menu}}
                </div> -->
                <!--<owl-carousel-o [options]="customOptions">
                     <ng-template carouselSlide>
                        <div class="card rounded-0">
                            <div class="card-body">
                                <h2 class="card-title mb-4">CLAT</h2>
                                <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                <a href="#" class="btn btn-link text-decoration-none text-end mt-3 d-block">View More <i class="bi bi-arrow-right"></i> </a>
                            </div>
                        </div>
                    </ng-template>  
                    <ng-template carouselSlide>
                        <div class="card rounded-0">
                            <div class="card-body">
                                <h2 class="card-title mb-4">CLAT</h2>
                                <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                <a href="#" class="btn btn-link text-decoration-none text-end mt-3 d-block">View More <i class="bi bi-arrow-right"></i> </a>
                            </div>
                        </div>
                    </ng-template>  
                    <ng-template carouselSlide>
                        <div class="card rounded-0">
                            <div class="card-body">
                                <h2 class="card-title mb-4">IMPAT</h2>
                                <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                <a href="#" class="btn btn-link text-decoration-none text-end mt-3 d-block">View More <i class="bi bi-arrow-right"></i> </a>
                            </div>
                        </div>
                    </ng-template>  
                  </owl-carousel-o> -->
            </div>
        </div>
    </div>
</section>        
<!-- end course -->
<!-- values -->
<section class="values py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 py-4">
                <div class="circle text-center d-flex flex-column flex-lg-row justify-content-center align-items-center">
                    <div class="circle_body circleOne">
                        <img src="assets/img/mission.png">
                        <h3 class="my-2">Mission</h3>
                        <p>To produce skilled professionals and provide valuable human resources to the corporate sector BY BRIDGING THE GAP BETWEEN ACADEMICS & INDUSTRY REQUIREMENTS.</p>
                    </div>
                    <div class="circle_body circleTwo">
                        <img src="assets/img/vission.png">
                        <h3 class="my-2">Vision</h3>
                        <p>Our mission is to provide high-quality education that aligns with the demands of the profession and society. We are dedicated to achieve excellence in teaching and learning.</p>
                    </div>
                    <div class="circle_body circleThree">
                        <img src="assets/img/values.png">
                        <h3 class="my-2">Values</h3>
                        <p>Coming Soon..</p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>
<!-- Testimonials-->
<!-- <section class="testimonial-slider text-center">
    <div class="container">
        <h2 class="mb-5 heading_color">Student's Testimonials</h2>
        <div class="row">
            <div class="col-md-12">
                 <div id="testimonial-slider" class="owl-carousel"> 
                 <div *ngFor="let test of studentTestimonials">
                    <div id="testimonial-slider" class="owl-carousell">
                        <div class="testimonial">
                            <span class="icon fa fa-quote-left"></span>
                            <p class="description">
                                {{test.testimonialresponses}}
                            </p>
                            <div class="testimonial-content">
                                <div class="pic"><img src="assets/img/testimonials-1.jpg" alt=""></div>
                                <h3 class="title">{{test.createdBy}}</h3>
                                <span class="post">{{test.testimonialId}}</span>
                            </div>
                        </div>
                    </div>
                 </div>   
                 <div id="testimonial-slider" class="owl-carousell">

                    <div class="testimonial">
                        <span class="icon fa fa-quote-left"></span>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam justo neque, aliquet sit amet elementum vel, vehicula eget eros. Vivamus arcu metus, mattis sed sagittis at, sagittis quis neque. Praesent.
                        </p>
                        <div class="testimonial-content">
                            <div class="pic"><img src="assets/img/testimonials-1.jpg" alt=""></div>
                            <h3 class="title">williamson</h3>
                            <span class="post">Web Developer</span>
                        </div>
                    </div>
                    <div class="testimonial">
                        <span class="icon fa fa-quote-left"></span>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam justo neque, aliquet sit amet elementum vel, vehicula eget eros. Vivamus arcu metus, mattis sed sagittis at, sagittis quis neque. Praesent.
                        </p>
                        <div class="testimonial-content">
                            <div class="pic"><img src="assets/img/testimonials-2.jpg" alt=""></div>
                            <h3 class="title">Kristina</h3>
                            <span class="post">Web Designer</span>
                        </div>
                    </div>
                    <div class="testimonial">
                        <span class="icon fa fa-quote-left"></span>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam justo neque, aliquet sit amet elementum vel, vehicula eget eros. Vivamus arcu metus, mattis sed sagittis at, sagittis quis neque. Praesent.
                        </p>
                        <div class="testimonial-content">
                            <div class="pic"><img src="assets/img/testimonials-3.jpg" alt=""></div>
                            <h3 class="title">Steve Thomas</h3>
                            <span class="post">Web Developer</span>
                        </div>
                    </div>
                    <div class="testimonial">
                        <span class="icon fa fa-quote-left"></span>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam justo neque, aliquet sit amet elementum vel, vehicula eget eros. Vivamus arcu metus, mattis sed sagittis at, sagittis quis neque. Praesent.
                        </p>
                        <div class="testimonial-content">
                            <div class="pic"><img src="assets/img/testimonials-2.jpg" alt=""></div>
                            <h3 class="title">Kristina</h3>
                            <span class="post">Web Designer</span>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</section> -->