<!-- Carousel start here-->
<section>
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active pt-4" >
          <div class="container-fluid py-6 my-6 mt-0 ">
            <div class="container">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-12 col-md-12">
                        <div class=" p-4  border rounded-pill1">
                        <h2 class="mb-4 animated bounceInDown text-style">New<span class="text-primary"> ACCA</span> Batches Now Available At Our Himayathnagar Branch</h2>
                        <ul class="mb-0 d-grid">
                            <li class="list-inline-item"><span>Knowledge Level</span></li>
                            <li class="list-inline-item"><span>Skills Level</span></li>
                            <li class="list-inline-item"><span>Professionnal Level</span></li>
                        </ul>
                    </div>
                    <div class="align-items-center py-3">
                        <h4 class="text-center">Courses Officered :</h4>
                    <a href="" class="btn border-0 rounded-pill1 py-3 px-4 me-4 ">ACCA(UK)</a>
                    <a href="" class="btn border-0 rounded-pill1 py-3 px-4 me-4 ">CMA(USA)</a>
                    <a href="" class="btn border-0 rounded-pill1 py-3 px-4 me-4 ">CA(IND)</a> 
                    <a href="" class="btn border-0 rounded-pill1 py-3 px-4 me-4 ">CMA(IND)</a> 
                    </div>
                   
                </div>
                    <!-- <div class="col-lg-5 col-md-12 pt-4 py-3 px-4">
                        <img src="../../assets/img/Gallery/BhavansEvent/BhavansEvent_1.jpg" class="img-fluid rounded animated zoomIn" alt="Patshala">
                    </div> -->
                </div>
            </div>
          </div>
        </div>
            <div class="carousel-item  pt-4">
                <div class="container-fluid py-6 my-6 mt-0 " >
                    <div class="container">
                        <div class="row g-5 align-items-center">
                            <div class="col-lg-12 col-md-12">
                                <div class=" p-4  border rounded-pill1">
                                <h2 class="mb-4 animated bounceInDown text-style">Free!<span> Free!</span> <br/><span class="text-primary"> B.COM.</span> <br/>"Performance Based Scholarship"<br/>For CA,CS & CMA Students</h2>
                              <div class="row">
                                <div class="col-lg-6 col-md-12">
                                    <ul class="mb-0">
                                        <li class="list-inline-item border-primary p-2"><span>CA Foundation<br>13<sup>th</sup>May,2024</span></li>
                                        <li class="list-inline-item border-primary p-2"><span>CA Foundation <br>10 <sup>th</sup>June,2024</span></li>
                                    </ul>
                                </div>
                                <div class="col-lg-6 col-md-12">
                                    <ul class="mb-0">
                                        <li class="list-inline-item border-primary p-2"><span>CA Inter <small>(Group 2)</small><br>3<sup>rd</sup>June,2024</span></li>
                                        <li class="list-inline-item border-primary p-2"><span>CMA Inter <small>(Both Groups)</small><br>1<sup>st</sup>July,2024</span></li>
                                    </ul>
                                </div>
                              </div>
                               
                            
                        
                            </div>
                            <div class="align-items-center py-3">
                                <h4 class="text-center">Courses Officered :</h4>
                            <a href="" class="btn  border-0 rounded-pill1 py-3 px-4 me-4 pt-4">ACCA(UK)</a>
                            <a href="" class="btn  border-0 rounded-pill1 py-3 px-4 me-4 pt-4">CMA(USA)</a>
                            <a href="" class="btn  border-0 rounded-pill1 py-3 px-4 me-4 pt-4">CA(IND)</a> 
                            <a href="" class="btn  border-0 rounded-pill1 py-3 px-4 me-4 pt-4">CMA(IND)</a> 
                            </div>
                           
                        </div>
                            <!-- <div class="col-lg-5 col-md-12 pt-4 py-3 px-4">
                                <img src="assets/img/patshala_12.jpeg" class="img-fluid rounded animated zoomIn" alt="Patshala">
                            </div> -->
                        </div>
                    </div>
                </div>
            </div> 
             <!-- <div class="carousel-item">
                <img src="assets/img/banner_three.jpg" class="d-block w-100"
                    alt="Patshala">
            </div>  -->
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>
<!-- <section class="masthead">
    <div class="container position-relative">
        <div class="row justify-content-end">
            <div class="col-xl-6">
                <div class="text-white w-75 ms-auto">
                    <h1 class="mb-5">{{subheading}}</h1>
                    <p class="contenttextjustify text-white">{{aboutPatashala}}</p>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- How to works-->
<section class="features-icons bg-light text-center">
    <div class="container">
        <div class="row">
            <h1 class="text-center mb-5 heading_color">WHY PATSHALA?</h1>
            <div class="col-lg-3 col-md-6">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <img src="assets/img/banner-img-1.png"  alt="Patshala Institutions in Hyderabad">
                    </div>
                    <h3>Live Classes</h3>
                    <p class="mb-0">Providing personalized mentoring throughout their course journey.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <img src="assets/img/Sample-Recordings-Image.png"  alt="Patshala Institutions in Hyderabad">
                    </div>
                    <h3>Recordings</h3>
                    <p class="mb-0">Interactive live stream classes and recorded Video lectures.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="features-icons-item mx-auto mb-5 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <img src="assets/img/select-video.png"  alt="Patshala Institutions in Hyderabad">
                    </div>
                    <h3>Selected Videos</h3>
                    <p class="mb-0">Regular Doubt Sessions.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="features-icons-item mx-auto mb-5 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <img src="assets/img/study-hub.jpeg"  alt="Patshala Institutions in Hyderabad">
                    </div>
                    <h3>Study Hub</h3>
                    <p class="mb-0">Mock Tests, Approved study material.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- start course -->
<section class="special py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h6 class="text-center tpad bpad heading_color">POPULAR COURSES</h6>
                <h1 class="text-center tpad bpad heading_color">Academic Programs At Patshala</h1>
            </div>
        </div>
        <div class="row special learncard text-center py-5 broadcost">
            <div class="col-md-6 col-lg-4">
                <div class="global card shadow rounded border-0 ">
                    <img src="assets/img/course_bg.jpg"
                        alt="Patshala is one of the best Commerce and Management institutions in Hyderabad"
                        class="mb-3">
                    <h4>CA</h4>
                    <p>CPC-Commerce Professioanal Courses</p>
                </div>  
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="global card shadow rounded border-0">
                    <img src="assets/img/whoweare.jpg"
                        alt="Patshala is one of the best Commerce and Management institutions in Hyderabad"
                        class="mb-3">
                    <h4>CS</h4>
                    <p>CPC-Commerce Professioanal Courses</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="global card shadow rounded border-0">
                    <img src="assets/img/whowedo.jpg"
                        alt="Patshala is one of the best Commerce and Management institutions in Hyderabad"
                        class="mb-3">
                    <h4>CMA</h4>
                    <p>CPC-Commerce Professioanal Courses</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="global card shadow rounded border-0">
                    <img src="assets/img/course-113.jpg"
                        alt="Patshala is one of the best Commerce and Management institutions in Hyderabad"
                        class="mb-3">
                    <h4>ACCA(UK)</h4>
                    <p>International Courses</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="global card shadow rounded border-0">
                    <img src="assets/img/course-08.jpg"
                        alt="Patshala is one of the best Commerce and Management institutions in Hyderabad"
                        class="mb-3">
                    <h4>CIMA(UK)</h4>
                    <p>International Courses</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="global card shadow rounded border-0">
                    <img src="assets/img/course-09.jpg"
                        alt="Patshala is one of the best Commerce and Management institutions in Hyderabad"
                        class="mb-3">
                    <h4>CMA(US)</h4>
                    <p>International Courses</p>
                </div>
            </div>
        </div>
    </div>
</section> 


<!-- course -->
<section class="course">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="stroke">Latest Gallery</h1>
                <owl-carousel-o [options]="customOptions">
                    <ng-template *ngFor="let image of Imgslst" carouselSlide>
                        <div class="card rounded-0">
                            <div class="card-body">
                                <h3>{{image.ImageDescription}}</h3>
                                <img [src]="image.Image"
                                    alt="Patshala is one of the best Commerce and Management institutions in Hyderabad" />
                            </div>
                        </div>
                    </ng-template>
                </owl-carousel-o>
            </div>
        </div>
    </div>
</section>
<!-- end course -->
<!-- values -->
<section class="values py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 py-4">
                <div
                    class="circle text-center d-flex flex-column flex-lg-row justify-content-center align-items-center">
                    <div class="circle_body circleOne">
                        <a [routerLink]="['/vision-mission']">
                            <img src="assets/img/mission.png"
                                alt="Patshala is one of the best Commerce and Management institutions in Hyderabad">
                            <h3 class="my-2">Mission</h3>
                            <p>To produce skilled professionals and provide...</p>
                        </a>
                    </div>
                    <div class="circle_body circleTwo">
                        <a [routerLink]="['/vision-mission']">
                            <img src="assets/img/vission.png"
                                alt="Patshala is one of the best Commerce and Management institutions in Hyderabad">
                            <h3 class="my-2">Vision</h3>
                            <p>Our mission is to provide high-quality education...</p>
                        </a>
                    </div>
                    <div class="circle_body circleThree">
                        <a [routerLink]="['/vision-mission']">
                            <img src="">
                            <h3 class="my-2">Values</h3>
                            <p>Coming Soon..</p>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- Quick Cotact Form-->
<section>
    <form [formGroup]="quickContactForm" (ngSubmit)="onSubmit()">

        <div class="container shadow_one p-5">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center tpad bpad heading_color">Quick Contact</h1>
                </div>
            </div>
            <div class="row">
                <div *ngIf="successMessage" class="success-message success-res-message">
                    {{ successMessage }}
                </div>
                <div *ngIf="fullName && fullName.invalid && (fullName.dirty || fullName.touched)">
                    <div *ngIf="fullName.hasError('required')" class="error-res-message">
                        Name is mandatory.
                    </div>
                </div>
                <div *ngIf="mobile && mobile.invalid && (mobile.dirty || mobile.touched)">
                    <div *ngIf="mobile.hasError('required')" class="error-res-message">
                        Mobile number is mandatory.
                    </div>
                    <div *ngIf="mobile.hasError('pattern')" class="error-res-message">
                        Please enter a valid 10-digit mobile number.
                    </div>
                </div>
                <div *ngIf="email && email.invalid && (email.dirty || email.touched)">
                    <div *ngIf="email.hasError('required')" class="error-res-message">
                        Email is mandatory.
                    </div>
                    <div *ngIf="email.hasError('email')" class="error-res-message">
                        Please enter a valid email address.
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <label for="exampleInputEmail1" class="form-label">Name</label>
                    <input type="text" class="form-control" id="username" formControlName="fullName">
                    <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
                </div>
                <div class="col-md-6 col-sm-12">
                    <label for="exampleInputEmail1" class="form-label">Email</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" formControlName="email">
                    <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <label for="exampleInputEmail1" class="form-label">Mobile </label>
                    <input type="text" class="form-control" type="tel" id="mobile" name="mobile" pattern="[0-9]{10}"
                        formControlName="mobile">
                    <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
                </div>
                <div class="col-md-6 col-sm-12">
                    <label for="exampleInputEmail1" class="form-label">State </label>
                    <p-dropdown appendTo="body" [options]="states" formControlName="state" [showClear]="true"
                        class="form-control" placeholder="Select State"></p-dropdown>


                    <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <label for="exampleInputEmail1" class="form-label">Course/ PROGRAM</label>
                    <p-dropdown appendTo="body" [options]="courses" formControlName="course" [showClear]="true"
                        class="form-control" placeholder="Select Course"></p-dropdown>

                    <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
                </div>
            </div>
            <div class="row tpad bpad">
                <div class="col-md-12 text-end">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </form>
</section>
<div class="clr">&nbsp;</div>
<!-- Testimonials-->
<!-- <section class="testimonial-slider text-center">
    <div class="container">
        <h2 class="mb-5 heading_color">Student's Testimonials</h2>
        <div class="row">
            <div class="col-md-12">
                 <div id="testimonial-slider" class="owl-carousel"> 
                 <div *ngFor="let test of studentTestimonials">
                    <div id="testimonial-slider" class="owl-carousell">
                        <div class="testimonial">
                            <span class="icon fa fa-quote-left"></span>
                            <p class="description">
                                {{test.testimonialresponses}}
                            </p>
                            <div class="testimonial-content">
                                <div class="pic"><img src="assets/img/testimonials-1.jpg"  alt="Patshala Institutions in Hyderabad"></div>
                                <h3 class="title">{{test.createdBy}}</h3>
                                <span class="post">{{test.testimonialId}}</span>
                            </div>
                        </div>
                    </div>
                 </div>   
                 <div id="testimonial-slider" class="owl-carousell">

                    <div class="testimonial">
                        <span class="icon fa fa-quote-left"></span>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam justo neque, aliquet sit amet elementum vel, vehicula eget eros. Vivamus arcu metus, mattis sed sagittis at, sagittis quis neque. Praesent.
                        </p>
                        <div class="testimonial-content">
                            <div class="pic"><img src="assets/img/testimonials-1.jpg"  alt="Patshala Institutions in Hyderabad"></div>
                            <h3 class="title">williamson</h3>
                            <span class="post">Web Developer</span>
                        </div>
                    </div>
                    <div class="testimonial">
                        <span class="icon fa fa-quote-left"></span>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam justo neque, aliquet sit amet elementum vel, vehicula eget eros. Vivamus arcu metus, mattis sed sagittis at, sagittis quis neque. Praesent.
                        </p>
                        <div class="testimonial-content">
                            <div class="pic"><img src="assets/img/testimonials-2.jpg"  alt="Patshala Institutions in Hyderabad"></div>
                            <h3 class="title">Kristina</h3>
                            <span class="post">Web Designer</span>
                        </div>
                    </div>
                    <div class="testimonial">
                        <span class="icon fa fa-quote-left"></span>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam justo neque, aliquet sit amet elementum vel, vehicula eget eros. Vivamus arcu metus, mattis sed sagittis at, sagittis quis neque. Praesent.
                        </p>
                        <div class="testimonial-content">
                            <div class="pic"><img src="assets/img/testimonials-3.jpg"  alt="Patshala Institutions in Hyderabad"></div>
                            <h3 class="title">Steve Thomas</h3>
                            <span class="post">Web Developer</span>
                        </div>
                    </div>
                    <div class="testimonial">
                        <span class="icon fa fa-quote-left"></span>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam justo neque, aliquet sit amet elementum vel, vehicula eget eros. Vivamus arcu metus, mattis sed sagittis at, sagittis quis neque. Praesent.
                        </p>
                        <div class="testimonial-content">
                            <div class="pic"><img src="assets/img/testimonials-2.jpg"  alt="Patshala Institutions in Hyderabad"></div>
                            <h3 class="title">Kristina</h3>
                            <span class="post">Web Designer</span>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</section> -->

<!-- Modal -->