<p></p>


<section class="aboutus py-5">
    <div class="container position-relative">
        <div class="row justify-content-end">
            <div class="col-xl-12 text-center">
                <div class="text-white ms-auto">
                    <!-- Page heading-->
                    <h1 class="mb-2">CMA</h1>
                  
                    <a href="javascript:void(0)" class="text-decoration-none textprimary">Courses <i class="bi bi-chevron-right"></i></a> <a href="javascript:void(0)" class="text-decoration-none textprimary">Domestic Courses <i class="bi bi-chevron-right"></i></a> <span class="textprimary">CMA</span>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p *ngFor="let result of cmaresponses" style="text-align: justify">
                    {{result.menu}}</p>
            </div>
        </div>
    </div>
</section>


