

<section class="aboutus py-5">
    <div class="container position-relative">
        <div class="row justify-content-end">
            <div class="col-xl-12 text-center">
                <div class="text-white ms-auto">
                    <!-- Page heading-->
                    <h2 class="mb-2">{{responses_Subheading}}</h2>
                   
                    <a href="javascript:void(0)" class="text-decoration-none textprimary">Courses <i class="bi bi-chevron-right"></i></a>  <a href="javascript:void(0)" class="text-decoration-none textprimary">International Courses <i class="bi bi-chevron-right"></i></a> <span class="textprimary">CIMA</span>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <br>
                <p *ngFor="let result of caresponses" style="text-align: justify">
                    {{result.menu}}</p>
            </div>
        </div>
    </div>
</section>


