<!-- about-->
<div class="sticky-top top120">
    <section class="aboutus">
        <div class="container position-relative">
            <div class="row justify-content-end">
                <div class="col-xl-12 text-center">
                    <div class="text-white ms-auto">
                        <!-- Page heading-->
                        <h1 class="mb-2">Gallery</h1>
                        <a href="index.html" class="text-decoration-none textprimary">Home <i
                                class="bi bi-chevron-right"></i></a> <span class="textprimary">Gallery</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<section class="recordedSec py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p class="text-center"></p>
                <ul class="nav nav-tabs recordtabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-bs-toggle="tab" href="#tab1">All</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#tab8">Courtesy visit to meet </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#tab6">Mother's Day</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#tab7">LB Nagar Branche Opening</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#tab2">Bhavans Event</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#tab3">Bridgemeet</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#tab4">Seminar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#tab5">Calss Activites</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content recordvideos py-5">
                    <div class="tab-pane active" id="tab1">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="card pt-4">
                                    <img class="card-img-top" src="assets/img/Gallery/Courtesy_visit_to_meet/1.jpeg"
                                        alt="Patshala Academy">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="card  pt-4">
                                    <img class="card-img-top" src="assets/img/Gallery/Courtesy_visit_to_meet/2.jpeg"
                                        alt="Patshala Academy">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="card  pt-4">
                                    <img class="card-img-top" src="assets/img/Gallery/Courtesy_visit_to_meet/3.jpeg"
                                        alt="Patshala Academy">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="card  pt-4">
                                    <img class="card-img-top" src="assets/img/Gallery/Courtesy_visit_to_meet/4.jpeg"
                                        alt="Patshala Academy">
                                </div>
                            </div> 
                           
                            <div class="col-lg-4">
                                <div class="card  pt-4">
                                    <img class="card-img-top" src="assets/img/Gallery/LBnagar/4.jpeg" height="450"
                                        alt="Patshala Academy">
                                </div>
                            </div> 
                            <div class="col-lg-4">
                                <div class="card  pt-4">
                                    <img class="card-img-top" src="assets/img/Gallery/LBnagar/5.jpeg" height="450"
                                        alt="Patshala Academy">
                                </div>
                            </div> 
                            <div class="col-lg-4">
                                <div class="card  pt-4">
                                    <img class="card-img-top" src="assets/img/Gallery/mothersday/1.jpeg" height="450"
                                        alt="Patshala Academy">
                                </div>
                            </div> 
                            <div class="col-lg-4">
                                <div class="card  pt-4">
                                    <img class="card-img-top" src="assets/img/Gallery/mothersday/2.jpeg" height="450"
                                        alt="Patshala Academy">
                                </div>
                            </div> 
                            <div class="col-lg-4">
                                <div class="card  pt-4">
                                    <img class="card-img-top" src="assets/img/Gallery/mothersday/6.jpeg" height="450"
                                        alt="Patshala Academy">
                                </div>
                            </div> 
                            <div class="col-lg-4">
                                <div class="card  pt-4">
                                    <img class="card-img-top" src="assets/img/Gallery/SRNagarBranchLaunch/SNRB4.JPG"
                                        alt="Patshala Academy">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="card  pt-4">
                                    <img class="card-img-top" src="assets/img/Gallery/SRNagarBranchLaunch/SNRB10.JPG"
                                        alt="Patshala Academy">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-------->
                    <div class="tab-pane fade" id="tab8">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="card  pt-4">
                                    <img class="card-img-top"
                                        src="assets/img/Gallery/Courtesy_visit_to_meet/5.jpeg"
                                        alt="Patshala Academy">
                                </div>
                            </div>
                          
                            <div class="col-lg-4">
                                <div class="card  pt-4">
                                    <img class="card-img-top"
                                        src="assets/img/Gallery/Courtesy_visit_to_meet/2.jpeg"
                                        alt="Patshala Academy">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="card  pt-4">
                                    <img class="card-img-top"
                                        src="assets/img/Gallery/Courtesy_visit_to_meet/6.jpeg"
                                        alt="Patshala Academy">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="card  pt-4">
                                    <img class="card-img-top"
                                        src="assets/img/Gallery/Courtesy_visit_to_meet/4.jpeg"
                                        alt="Patshala Academy">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab7">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="card  pt-4">
                                    <img class="card-img-top"
                                        src="assets/img/Gallery/LBnagar/10.jpeg"
                                        alt="Patshala Academy">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="card  pt-4">
                                    <img class="card-img-top"
                                        src="assets/img/Gallery/LBnagar/3.jpeg"
                                        alt="Patshala Academy">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="card  pt-4">
                                    <img class="card-img-top"
                                        src="assets/img/Gallery/LBnagar/4.jpeg"
                                        alt="Patshala Academy">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="card  pt-4">
                                    <img class="card-img-top"
                                        src="assets/img/Gallery/LBnagar/5.jpeg"
                                        alt="Patshala Academy">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="card  pt-4">
                                    <img class="card-img-top"
                                        src="assets/img/Gallery/LBnagar/7.jpeg"
                                        alt="Patshala Academy">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab6">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="card  pt-4">
                                    <img class="card-img-top"
                                        src="assets/img/Gallery/mothersday/9.jpeg"
                                        alt="Patshala Academy">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="card  pt-4">
                                    <img class="card-img-top"
                                        src="assets/img/Gallery/mothersday/16.jpeg"
                                        alt="Patshala Academy">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="card  pt-4">
                                    <img class="card-img-top"
                                        src="assets/img/Gallery/mothersday/15.jpeg"
                                        alt="Patshala Academy">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="card  pt-4">
                                    <img class="card-img-top"
                                        src="assets/img/Gallery/mothersday/14.jpeg"
                                        alt="Patshala Academy">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="card  pt-4">
                                    <img class="card-img-top"
                                        src="assets/img/Gallery/mothersday/12.jpeg"
                                        alt="Patshala Academy">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="card  pt-4">
                                    <img class="card-img-top"
                                        src="assets/img/Gallery/mothersday/9.jpeg"
                                        alt="Patshala Academy">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="card  pt-4">
                                    <img class="card-img-top"
                                        src="assets/img/Gallery/mothersday/6.jpeg"
                                        alt="Patshala Academy">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="card  pt-4">
                                    <img class="card-img-top"
                                        src="assets/img/Gallery/mothersday/2.jpeg"
                                        alt="Patshala Academy">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="card  pt-4">
                                    <img class="card-img-top"
                                        src="assets/img/Gallery/mothersday/1.jpeg"
                                        alt="Patshala Academy">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="card  pt-4">
                                    <img class="card-img-top"
                                        src="assets/img/Gallery/mothersday/8.jpeg"
                                        alt="Patshala Academy">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab2">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="card  pt-4">
                                    <img class="card-img-top"
                                        src="assets/img/Gallery/BhavansEvent/BhavansEvent_1.jpg"
                                        alt="Patshala Academy">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="card  pt-4">
                                    <img class="card-img-top"
                                        src="assets/img/Gallery/BhavansEvent/BhavansEvent_2.jpg"
                                        alt="Patshala Academy">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab3">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="card  pt-4">
                                    <img class="card-img-top" src="assets/img/Gallery/Bridgemeet/BM16.JPG"
                                        alt="Patshala Academy">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="card  pt-4">
                                    <img class="card-img-top" src="assets/img/Gallery/Bridgemeet/BM14.JPG"
                                        alt="Patshala Academy">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="card  pt-4">
                                    <img class="card-img-top" src="assets/img/Gallery/Bridgemeet/BM23.JPG"
                                        alt="Patshala Academy">
                                </div>
                            </div>
                            <div class="col-lg-4 mt-4">
                                <div class="card  pt-4">
                                    <img class="card-img-top" src="assets/img/Gallery/Bridgemeet/BM22.JPG"
                                        alt="Patshala Academy">
                                </div>
                            </div>
                            <div class="col-lg-4 mt-4">
                                <div class="card  pt-4">
                                    <img class="card-img-top" src="assets/img/Gallery/Bridgemeet/BM21.JPG"
                                        alt="Patshala Academy">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab4">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="card  pt-4">
                                    <img class="card-img-top" src="assets/img/Gallery/Seminar/Seminar1.jpg"
                                        alt="Patshala Academy">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="card  pt-4">
                                    <img class="card-img-top" src="assets/img/Gallery/Seminar/Seminar19.jpg "
                                        alt="Patshala Academy">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="card  pt-4">
                                    <img class="card-img-top" src="assets/img/Gallery/Seminar/Seminar20.jpg"
                                        alt="Patshala Academy">
                                </div>
                            </div>
                            <div class="col-lg-4 mt-4">
                                <div class="card  pt-4">
                                    <img class="card-img-top" src="assets/img/Gallery/Seminar/Seminar22.jpg"
                                        alt="Patshala Academy">
                                </div>
                            </div>
                            <div class="col-lg-4 mt-4">
                                <div class="card  pt-4">
                                    <img class="card-img-top" src="assets/img/Gallery/Seminar/Seminar23.jpg"
                                        alt="Patshala Academy">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab5">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="card  pt-4">
                                    <img class="card-img-top" src="assets/img/Gallery/Seminar/Seminar38.jpg"
                                        alt="Patshala Academy">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="card  pt-4">
                                    <img class="card-img-top" src="assets/img/Gallery/Seminar/Seminar29.jpg "
                                        alt="Patshala Academy">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="card  pt-4">
                                    <img class="card-img-top" src="assets/img/Gallery/Seminar/Seminar40.jpg"
                                        alt="Patshala Academy">
                                </div>
                            </div>
                            <div class="col-lg-4 mt-4">
                                <div class="card  pt-4">
                                    <img class="card-img-top" src="assets/img/Gallery/Seminar/Seminar22.jpg"
                                        alt="Patshala Academy">
                                </div>
                            </div>
                            <div class="col-lg-4 mt-4">
                                <div class="card  pt-4">
                                    <img class="card-img-top" src="assets/img/Gallery/Seminar/Seminar11.jpg"
                                        alt="Patshala Academy">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row quick">
            <div class="col-md-10">
                <h1>Discover the power of Patashala</h1>
            </div>
            <div class="col-md-2">
                <button class="quickcon">Quick Contact</button>
            </div>
        </div>
    </div>
</section>