

<section class="aboutus">
    <div class="container position-relative">
        <div class="row justify-content-end">
            <div class="col-xl-12 text-center">
                <div class="text-white ms-auto">
                    <!-- Page heading-->
                    <h2  class="mb-2" *ngFor="let response of cparesponses">
                        {{response.responses_Subheading}}
                    </h2>
                  
                    <a href="javascript:void(0)" class="text-decoration-none textprimary">Courses <i class="bi bi-chevron-right"></i></a> <span class="textprimary">CPC-Commerce Professioanal</span>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-12">
                <h2 class="left-panel-heading">Courses</h2>
                <ul class="courses-list-left">
                    <li><a [routerLink]="['/cpa']"> Commerce Professional Courses </a></li>
                    <li><a [routerLink]="['/cs']" > CS</a></li>
                    <li><a [routerLink]="['/ca']" > CA</a></li>
                    <li><a [routerLink]="['/cma']" > CMA</a></li>
                    <li><a [routerLink]="['/acca']" > ACCA</a></li>
                <li><a [routerLink]="['/cima']" > CIMA</a></li>
                <li><a [routerLink]="['/cima_us']" > CMA(US)</a></li>
                <li><a [routerLink]="['/study_hub_videos']" > Study Hub- Videos</a></li>
                <li><a [routerLink]="['/online_live_classes']" > Online-Live Classes</a></li>
                <li><a [routerLink]="['/recordedvideos']" > Resource-Live Classes Recordings</a></li>
                </ul>
            </div>
            <div class="col-md-9 col-sm-12">
            <br>
                <p *ngFor="let response of cparesponses" style="text-align: justify">
                    {{response.menu}}
                </p>
            </div>
        </div>
    </div>
</section>


